[2015-08-19 17:38] tomkuijsten opened #2 "Create working socket listener"

[2015-08-19 17:40] tomkuijsten opened #3 "Use accept header to create the correct response type"
JSON, XML and plain text are the only ones supported. Multiple are allowed in the header. The response should take the order into account when trying to format the data.

[2015-08-19 17:42] tomkuijsten opened #4 "Allow parameter on a controller with the body content"
Might use an attribute like "FromBody". Only a single parameter in a method is allowed to have this attribute and currently we only support text.

[2015-08-19 17:44] tomkuijsten opened #5 "Create nuspec file"

[2015-08-19 17:44] tomkuijsten opened #6 "Create build on appveyor"

[2015-09-03 04:42] tomkuijsten commented on #4
FromBodyAttribute is implemented

[2015-09-03 04:42] #4 closed

[2015-09-03 04:44] tomkuijsten commented on #3
Plain text isn't supported, as described by the JSON guidelines.
Only the first accept type is used, the others are ignored.

[2015-09-03 04:44] #3 closed

[2015-09-07 03:49] tomkuijsten commented on #6
It's created, but the tests aren't running. Appveyor doesn't support auto-discovery for Win10 UWP tests yet, discussion started on [github](https://github.com/appveyor/ci/issues/393).

[2015-09-07 03:52] tomkuijsten opened #7 "HTTP request encoding is iso-8859-1"
I use UTF8 to decode it, is that the same as iso-8859-1?

[2015-09-07 03:53] tomkuijsten opened #8 "Support charset in content-type"
The charset information in the content-type header is ignored now, should use it to decode the body.

Content-Type: application/json; charset=UTF-8

[2015-09-15 10:24] tomkuijsten commented on #7
Nope, fixed using iso-8859-1

[2015-09-15 10:24] #7 closed

[2015-09-30 13:15] tomkuijsten opened #9 "Support Task<T> result on controller methods"
Support the async/await pattern

[2015-09-30 13:16] tomkuijsten opened #10 "Http response without body is malformed"
Header section should always end with \r\n\r\n even when no body is attached

[2015-09-30 13:23] tomkuijsten opened #11 "All responses should add the Date header"
http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html
Chapter: 14.18

[2015-09-30 13:52] tomkuijsten opened #12 "Body of request is always filled even when nothing is received"
GetBodyFromRequest will use the entire request, but this is based on the buffer size of the httpserver (BufferSize). It will always fill up with \0

[2015-10-01 04:28] tomkuijsten commented on #6
Still doesn't support, will fix when available.

[2015-10-01 04:28] #6 closed

[2015-10-01 04:28] tomkuijsten commented on #5
Done

[2015-10-01 04:28] #5 closed

[2015-10-01 04:31] #2 closed

[2015-10-01 04:33] #11 closed

[2015-10-01 04:33] #10 closed

[2015-10-02 12:37] tomkuijsten commented on #9
Done

[2015-10-02 12:37] #9 closed

[2015-10-02 12:38] tomkuijsten opened #13 "Json parse exceptions are not properly caught"
There is no response when a json parse exception occurs, reading the body data

[2015-10-02 13:25] tomkuijsten opened #14 "GetResponse should have constructor with only status"
When sending a notSend, data is not applicable

[2015-10-06 13:06] tomkuijsten opened #15 "Create singleton controller on startup"
If a controller is marked as singleton, cache it when it's registered. Prevents a delay when the first call to the controller arrives.

[2015-10-28 05:24] tomkuijsten commented on #12
Fixed

[2015-10-28 05:25] #12 closed

[2015-10-30 15:21] tomkuijsten commented on #14
Fixed

[2015-10-30 15:21] #14 closed

[2015-11-11 12:38] tomkuijsten commented on #15
Controller is cached when registered

[2015-11-11 12:38] #15 closed

[2015-11-11 14:23] tomkuijsten opened #16 "Support parameter arrays"
I once found a suggestion on SO to implement it as html handle arrays in an url. Looks like the right way to handle arrays for REST services.

[2015-11-12 18:20] tobiasstraub opened #17 "More example code"
Hi @tomkuijsten,
thanks for your great work. Is it possible to get more example code? Can you upload your example code which you're using to test the API?

Would help a lot. Thanks!

[2015-11-12 18:27] tobiasstraub commented on #17
Sorry. Found the example code. :grimacing:

[2015-11-12 18:27] #17 closed

[2015-11-12 19:24] tomkuijsten commented on #17
No worries. Might be a good idea to add a link to the sample project in the readme.

[2015-11-13 14:48] tomkuijsten opened #18 "Should we add default /api/ prefix to all url's"
Or as a configurable prefix

[2015-11-19 19:34] tobiasstraub opened #19 "Return message for Post and Put"
Hi @tomkuijsten,
is it possible to define for PostResponse (instead of the locationRedirectUri) and for PutRequest a return message? E.g. {“developerMessage” : “Error. Wrong JSON schema.”}
This would be really great. :-)

[2015-11-19 19:38] tobiasstraub commented on #18
In our project we don't use /api/ prefix, because the domain name is the API access. But a feature like this would be great, for API versioning, like https://example.com/v1/endpoint.

[2015-11-20 06:00] tomkuijsten commented on #18
I like the idea of versioning, but wouldn't that be something to put on your controller with ie an attribute? Something like this:

[code]

I still believe that a separate prefix will be useful.

[2015-11-20 08:04] tomkuijsten commented on #19
Possible, yes :) But the [RestApiTutorial](https://github.com/tfredrich/RestApiTutorial.com) state that a Post can never return values, a Put can. I'm not saying that's the truth, but I like to hear why a return value would be valid.

[2015-11-22 16:36] tobiasstraub commented on #18
I think an attribute on controller makes it very difficult. When you have a bigger API, you have many Controllers with possibly different versions. In practice you mark with an API version update the complete API as a new version. So I think a prefix is very useful. Many big API player use this kind of versioning. By the way: On [apigee](https://pages.apigee.com/rs/apigee/images/api-design-ebook-2

[2015-11-22 16:54] tobiasstraub commented on #19
I think it is often useful to say the developer what's wrong with the requested POST. But I have just looked how Facebook handle this. I haven't seen that Facebook give a response to a POST. But by PUT requests I have seen that they often give the developer a feedback via a return JSON.

[2015-11-22 17:57] tobiasstraub opened #20 "POST and PUT requests via Client Framework don't work correct"
I have tested my API, I have created with restup the last time via [cURL](http://curl.haxx.se/). Via cURL all works fine. Now I have on client side setup the [RestSharp Framework](http://restsharp.org/) to send requests on restup server. GET and DELETE requests works. But POST and PUT don't work. Because it works with cURL, I suspected the fault on client side. But after I tested all, I think the

[2015-11-22 19:00] tomkuijsten commented on #19
Just committed 4d6390d3508d5f65aa1ae8af425c53df217c119c which contains the extension of the PUT messages, accepting body data now.
I don't quite understand why a PUT should be allowed a return message and a POST don't, do you know why?

[2015-11-22 19:05] tomkuijsten commented on #20
You're just one step ahead of me, cause I got the same problem Friday. Thanks for all your research. I changed my response from Ok to NoContent and it all went fine, now I understand why. I'll start investigating now what is exacatly going wrong.

[2015-11-23 21:10] tomkuijsten commented on #20
Hmm I was a bit too quick with my response. My problem had something to do with the output, you talked about the input. Different problem I guess.

I tried to reproduce the problem with your request string, but I couldn't get it to fail. I used the sample project and deployed that one on my pi. I used fiddler to send your request and no matter what I did, the `GetRequestString` returned the right

[2015-11-23 21:12] tomkuijsten commented on #18
But if you have controllers with different versions in one project, how would the prefix help? If you want to store the version there, you will only have one version number for the complete service. Cause my idea was to have a prefix for the entire service, not a prefix for one controller.

[2015-11-24 11:42] tobiasstraub commented on #20
Maybe we should look the HTTP header in more detail. RestSharp add some header information which are maybe stopping the correct processing. You send your request with fiddler, and all works fine? I tested via cURL and it works also fine. Only a request via the RestSharp framework didn't processing correct. But in alle cases the JSON body is the same.

Have you ever tested via RestSharp framework?

[2015-11-24 15:16] tomkuijsten commented on #20
Never used RestSharp, but it looks pretty simple to use. I'll create some sample code to test with.

Did you check the request from RestSharp with Fiddler?

[2015-12-04 08:11] tomkuijsten opened #21 "Put response doesn't serialize body"
Put response supports a body now, but it isn't serialized and added to the response.

[2015-12-18 13:44] tomkuijsten commented on #20
I just tried communicating with the RestSharp lib and that worked fine. At least the GET and PUT. I'm working on a test for POST, but I don't see why that would be different then PUT.

[2015-12-18 14:01] tobiasstraub commented on #20
Sorry for the late response. Can you upload your test code?

[2015-12-18 14:03] tomkuijsten commented on #20
Just tried a POST (with the sample WebServerHostTest project) and works like a charm. This is the code I used

[code]

[2015-12-18 14:07] tomkuijsten commented on #20
Sorry, forgot to commit the new POST sample controller. Just did and the test code above should work now.

[2015-12-18 14:08] tomkuijsten commented on #21
Fixed

[2015-12-18 14:08] #21 closed

[2015-12-18 14:08] tobiasstraub commented on #20
Thank you so much. I'll check this tomorrow early. :-)

[2015-12-18 14:24] tomkuijsten commented on #20
No problem, thanks for all the feedback, helps me a lot. I hope the problem is solved.

[2015-12-18 14:36] tomkuijsten commented on #19
POST also supports a body now

[2015-12-18 14:36] #19 closed

[2015-12-18 15:25] tomkuijsten commented on #18
Prefix is available on the constructor of ` RestWebServer `

[2015-12-18 15:25] #18 closed

[2015-12-21 17:48] tobiasstraub commented on #20
Today we have tested the scenario with alpha3 in two different test networks again. We already have the same issue described above. If we slow down the program flow in restup artificially, it works (see for loop with debugging output). On weekend, I will try again to find out what is going wrong here.

[code]

[2015-12-21 18:37] Jark commented on #20
I would try uncommenting the args.Socket.Dispose() line. Looking at the original code (https://github.com/ms-iot/samples/blob/b1e1608931a42bc72c76b7d44e55f2731b639c8a/App2App%20WebServer/WebServerApp/WebServerTask/BackgroundTask.cs#L112) it's not disposed.

There might be a possibility that the open socket is reused for subsequent connections from the same source.

[2015-12-21 19:37] tobiasstraub commented on #20
@Jark Thanks. It was worth a try. But did not help. Only the artificial delay before the `input.ReadAsync(...)` helps.

[code]

[2015-12-21 20:12] tobiasstraub commented on #8
Do you work on this feature? - If you need my Contribution you can add me as assignee.

[2015-12-22 07:30] tomkuijsten commented on #20
Can you try something for me? I was cycling to work just now (funny that the best idea's are born while cycling or taking a shower and not at work :) ) and tried to understand what is going wrong. The delay proofs that it has something to do with async streaming of any kind. Could you change this line in HttpServer.GetRequestString:

[code]

To this

[code]

[2015-12-22 07:53] tomkuijsten commented on #8
I'm not working on this, so if you want, you can implement it. Just let me know.

[2015-12-22 08:20] tomkuijsten commented on #20
Hmm just found this post and it sounds like he has the same problem:

http://stackoverflow.com/questions/32297416/c-sharp-http-server-using-streamsocketlistener-the-option-inputstreamoptions-p

[2015-12-26 12:21] tomkuijsten commented on #20
After reading some articles and talking to developers I've decided to implement a solution. The input stream could be read at once, but because of it's streaming nature, you will never now for sure if nothing else will come in. There is no way to determine when the sender is finished with it's request. Luckily for us, we only accept http requests, so we do have some idea of what a request will loo

[2015-12-28 08:31] tobiasstraub commented on #20
Works now, really good job! :-)

Your first idea with changing `InputStreamOptions.Partial` to `InputStreamOptions.ReadAhead` didn't work. I had the same idea, days ago, and so I tried this. The idea with checking the content-length is perfect. Thanks for your Implementation of this feature.

[2015-12-28 08:31] #20 closed

[2015-12-28 08:37] tomkuijsten commented on #20
Thank you for finding it :). I will improve this implementation with the help of Jark, he already did some great OO stuff for this feature in his branch. It's now parsing the data multiple times, which is a waste of precious cpu cycles. Anyway, this shouldn't affect you.

[2015-12-30 14:55] tomkuijsten commented on #8
I've done some extensive rework which included the charset, it should work properly now,

[2015-12-30 14:57] tomkuijsten opened #22 "Make headers case insensitive"
After the major rework of HttpRequest, headers are case sensitive, this is wrong and should be case insensitive.

[2015-12-30 14:58] tomkuijsten opened #23 "Make HttpResponse like the rework on HttpRequest"
The HttpRequest is pretty OO now, where the HttpResponse is not. Fix this.

[2016-01-09 11:59] MrDziobak opened #24 "Call functions in demo"
I'm stupid.
Please delete this.

[2016-01-09 12:45] #24 closed

[2016-01-11 08:27] #8 closed

[2016-01-18 09:09] tomkuijsten opened #25 "Support parameters in RestController constructor"
It's inconvenient that you can't pass parameters to the constructor of the RestController, there should be some way to inject them.

[2016-01-18 15:02] tomkuijsten commented on #23
Decided to separate the httpmessage logic from the rest of the code. This way it's more clear what this specific piece of code does and easier to push as separate nuget package (if I want to).

[2016-01-23 10:57] ManniAT opened #26 "Server crashes when used in headless app"
I created a new Solution (Windows IoT - Background) added a class library (to host my controllers) and added restup via NuGet to the class library.
In the Background app I did this:

[code]

Further I enabled Client+Server in the manifest.
Runnig this on my RapsBerry brings up the server (Message in Output).
When I make a request the background app silently (no exceptions) terminates.

Doing the s

[2016-01-24 21:23] tomkuijsten commented on #26
I'll take a look at it. I already got it working in headless mode, so it should be possible.

[2016-01-24 21:24] tomkuijsten commented on #25
Already fixed

[2016-01-24 21:24] #25 closed

[2016-01-24 21:24] tomkuijsten commented on #22
Done in the new branch, merging soon.

[2016-01-24 21:24] #22 closed

[2016-01-24 21:25] tomkuijsten commented on #23
Done in the new branch, merging soon.

[2016-01-24 21:25] #23 closed

[2016-01-25 12:50] ManniAT commented on #26
Maybe I just missed some setting / ref.... in my solution.
I like your project and really would like to use it.

[2016-01-25 13:18] tomkuijsten commented on #26
I'm working on a headless sample, hang on.

[2016-01-25 17:54] ManniAT commented on #26
I'm very sorry for this...
Just checked my code one again - and found the problem.

I did:

public sealed class StartupTask : IBackgroundTask {
    private RestWebServer _webserver;
    public void Run(IBackgroundTaskInstance taskInstance) {
        BackgroundTaskDeferral deferral = taskInstance.GetDeferral();
        _webserver = new RestWebServer(8800);
...

The problem here is that deferral is

[2016-01-25 18:05] tomkuijsten commented on #26
Thanks for the info and I keep it open, because I'm doing the same thing you did with the deferral. Will fix it in the demo app.

[2016-01-26 07:55] tomkuijsten commented on #26
Fixed in branche

[2016-01-26 07:55] #26 closed

[2016-01-26 07:56] tomkuijsten commented on #13
Fixed in branche

[2016-01-26 07:56] #13 closed

[2016-01-26 09:53] ManniAT commented on #26
Do you have a timeline when you merge / update nuget?

[2016-01-26 10:57] tomkuijsten commented on #26
Merge already happened and the nuget package is updated to beta1 (indexing now, so could take a few hours before you can install).

[2016-01-30 18:39] DamianMehers opened #28 "Passing query string values"
I've found I can pass query string values by escaping the question mark:

[code]

Would you like a pull request to escape it in code?

[2016-01-31 00:29] tomkuijsten commented on #28
That's an interesting approach ☺. Pull request would be nice.

[2016-01-31 15:21] DamianMehers commented on #28
[Here you go](https://github.com/tomkuijsten/restup/pull/29)

[2016-02-04 17:09] watashimeandeu opened #30 "Static contents"
There is any way to support static contents?

Ex:
[UriFormat("/public")] publish the requested file on a folder specified on server start.

Like:
StaticContents.Add(StaticContentBuilder.AddDirectory("public", @"contentFolder/subFolder"));

Thank you.

[2016-02-08 07:41] tomkuijsten commented on #28
Thanks. I've just been sick a couple of days, I'll merge this soon.

[2016-02-08 07:43] tomkuijsten commented on #30
I've been playing with the idea before. Problem is that if you want to implement this correctly, it will take a whole lot of time which I don't have.

[2016-02-11 07:05] tomkuijsten commented on #28
Merged you're request. Might need some more rework to fully support all query parameter options.

[2016-02-11 07:05] #28 closed

[2016-02-11 09:10] kchinnam opened #31 "Is SSL supported?"
Hi,
  I'm guessing no but just wanted to check, is there an option to run the web server as as HTTPS server? I was going to use this project to implement an API server that would involve authentication.

If not, any pointers on implementing HTTPS support myself?

[2016-02-12 10:16] Jark commented on #31
Hey Kchinnam,

Currently ssl is not supported and it will be hard to implement because Windows Universal (for now) does not have server-side ssl support.

The underlying StreamSocketListener does not support upgrading the StreamSocket to SSL, see:
https://msdn.microsoft.com/en-us/library/windows/apps/windows.networking.sockets.streamsocket.upgradetosslasync.aspx

The only way that I could see of d

[2016-02-15 10:18] tomkuijsten commented on #31
Hi all,

It's something that I need as well. I'm not that familiar with https, but as the msdn article (as linked by @Jark) stated:

If anyone has another idea to implement this, let me know!

[2016-02-16 22:48] ManniAT commented on #31
Hi Tom,

I understand that only Client implements "upgrade" - this is used for the case that a server forces (wants) SSL.
On the server side there is no need to "upgrade" - you just provide (redirect from 80 to 443).
On the server you "just create a SSL stream" - unfortunately I have no experiences implementing this.
I only now that is  "not so easy" since you must provide (check) X509 certificate

[2016-02-17 17:24] Jark commented on #31
Hi ManniAt,

I used that documentation link to provide some proof that it couldn't be done, if it could be done there would be a link to what you can use to accomplish it. I did read many more articles / forum posts before posting that and there really seems to be no Windows Universal alternative.

We can't use System.Net.Security.SslStream because it is not implemented in Windows Universal, the s

[2016-02-22 07:13] tomkuijsten commented on #31
Would there be any (standard) alternative for SSL, at least to provide some basic security? And I don't mean "basic authentication" which isn't secure unless you use SSL.

[2016-02-23 10:37] tomkuijsten commented on #30
I have two pull request which adds static content handling, I'm reviewing both now, so it shouldn't be too long before this is supported.

[2016-02-23 10:39] tomkuijsten commented on #16
I started a discussion on the REST guideline GitHub:

https://github.com/tfredrich/RestApiTutorial.com/issues/34

[2016-02-23 10:44] tomkuijsten opened #35 "Handle query parameters as a first class citizen"
Query parameters are supported in a kinda hacky way (the ? is just escaped and that's why it get's matched on parameter key/values). The HTTP message should deserialize the query parameters and do something with it in the rest controllers.

[2016-02-23 11:23] watashimeandeu commented on #30
Such a great news.
Thank you for the information.

[2016-02-24 19:09] Jark commented on #30
The pull request has been merged: https://github.com/tomkuijsten/restup/pull/34.

[2016-02-25 08:44] #30 closed

[2016-03-07 09:03] tomkuijsten opened #37 "Xml Serialization crashes when compiling in Native .NET"
When "Compile with .NET Native tool chain" project property is enabled, a xml response with a custom object throws an error (eg SingletonControllerSample.GetSingletonSampleValue).

[code]

[2016-03-08 11:36] naice opened #38 "StaticFileRouteHandler missing ContentType for various filetypes"
If i run the WebServer on my PI with latest Win IOT Core release I get empty ContentType e.g. for .html files or .js files. This will cause the website to not display correctly in chrome and firefox, however edge will display the side correctly and so does the WebView control (win uwp).

[2016-03-08 11:43] Jark commented on #38
Hello naice,

I suspect the pi is not correctly giving back the content type for the extension and there might need to be a change in: https://github.com/tomkuijsten/restup/blob/master/src/WebServer/File/StaticFileRouteHandler.cs#L82 to fall back on a predefined list of extension to mime types or use the predefined list of extension -> mime types and fall back on the content type that uwp reports.

[2016-03-08 11:47] naice commented on #38
atm i am working on a fix for it. The error occurs on exactly at this function. I will give a shout if i got an reasonable solution for this.

[2016-03-08 13:22] naice commented on #38
I created a fix. #39

[2016-03-08 14:13] tomkuijsten commented on #38
Thanks for the fix, just merged it.

[2016-03-08 14:13] #38 closed

[2016-03-08 14:17] naice commented on #38
(Y)
Am 08.03.2016 3:13 nachm. schrieb "Tom Kuijsten" <notifications@github.com>:

[2016-03-08 14:32] Jark commented on #38
Hey @naice ,

Thanks for doing the work, much appreciated!

I was half way through writing this when @tomkuijsten approved the merge request, but don't want to let it go to waste so here goes:

- what do you guys think of getting rid off IsOverrideEnabled on MimeTypes? I think we should just default to the list of mime types that is specified, and only go for the ms content type if we don't know a

[2016-03-08 14:51] naice commented on #38
Making the list read-only will cause Users to not be able to insert their
own Mime types. I think that's a huge loss of functionality
Am 08.03.2016 3:32 nachm. schrieb "Jark" <notifications@github.com>:

[2016-03-08 15:02] Jark commented on #38
I'm not against allowing users to add to the mime types list, but exposing an interface that allows users to do this during execution is dangerous and can lead to subtle bugs / crashes of the server.

I can see a couple of ways to fix this:

1. expose methods on MimeTypes (and maybe rename it to MimeTypeProvider or something) that allows users to add / remove from it in a thread safe way.

2. or,

[2016-03-08 16:24] naice commented on #38
I like the idea of passing the mimetypes throug construction of the
StaticFileRouteHandler but from Users View i like to have Software that
runs as installed and since its a server for uwp i think it will be used a
lot of ppl who run it on a pi like me. Why should they bother about the
mimetypes if we already got a solution for this? Maybe i don't understand
you? But for today I need to play the d

[2016-03-09 09:46] Jark commented on #38
Exactly my point naice, so we should fall back to a sensible default.

I created a pull request as well, with unit tests and by adding the ability to specify the mime types if you really need to. If this situation turns out to be fairly common we can create something around it to make it easier.

Pull request can be found here: https://github.com/tomkuijsten/restup/pull/41.

[2016-03-10 01:32] HakanL opened #42 "Add logging"
Would be good to see errors for when files don't exist, etc.

[2016-03-10 09:53] Jark opened #43 "Add support for Accept-Encoding: gzip"
Now that we have support for files we should probably add support for gzip compression if the client requests it.

The approach that I'm going to take is to implement this on HttpServer level, so that it will compress the content back with the encoding that the client requests and sets the Content-Encoding level as a result.

In the process I might change the HttpServerResponse object into a Route

[2016-03-10 09:55] Jark commented on #42
Hi HakanL,

Sounds like a good plan, I think the project could definitely benefit from more logging at various places.

Do you have any experience with how the ms logging works on UWP? When I had a quick look it looked quite complicated and a logging framework like https://github.com/onovotny/MetroLog seemed necessary.

For a first try we can maybe just reference MetroLog directly, if the project

[2016-03-10 11:04] strehar opened #44 "HttpServer"
Hello,

you might want to check [HttpServer library](https://github.com/strehar/HttpServer), that provides
http requests, http responses, cookies, sessions, timers, json, two templating engines, one based on DotLiquid pot to Universal Apps and another based on simple string substitutions, dynamic web pages with template engines, custom URL listeners,

To integrate with your rest api, minimal code

[2016-03-10 11:20] Jark commented on #44
Hey strehar,

Thanks for the link, from the features you mentioned I think we'd want to support cookies in restup, we already support custom url listeners, http requests, http responses and json.

The other features seem more like they shouldn't be part of a http server implementation but rather part of a framework and would most likely not be implemented in the core bit of restup but maybe as an

[2016-03-10 11:58] strehar commented on #44
Sessions should be part of server too, it's usefull to have them supported out of the box.

You can test server on the [REDbot](https://redbot.org/). I check it there, very usefull tool.

[2016-03-10 16:26] Jark commented on #44
Had a look at it, seems quite useful, thanks :)

Closing this issue, since it's not really a problem with restup. Feel free to link to this repo from your repo as a possible integration.

Cheers,

Jark

[2016-03-10 16:26] #44 closed

[2016-03-10 22:51] HakanL commented on #42
I was starting to use the Microsoft.Extensions.Logging (https://github.com/aspnet/Logging) in my project, but I can't say I was spending a lot of effort picking one. I like Serilog, but it doesn't support UWP (yet). I'll check out MetroLog. In general it would be good to just use an interface framework for logging and let DI resolve it.

[2016-03-11 14:19] tomkuijsten commented on #43
Sounds like a plan. @chkr1011 told me he was working on a pull request for compression as well, might be interesting to contact him.

[2016-03-11 14:26] Jark commented on #43
I've got a little prototype here: https://github.com/tomkuijsten/restup/compare/master...Jark:feature-add-support-for-compression which is working, but needs some refactoring to correctly adjust the content-length property.

[2016-03-11 14:49] chkr1011 commented on #43
Hi,
yes this feature is part of my implementation (and working correctly). But
I don't know when I can complete a pull request.

Code:
https://github.com/chkr1011/CK.HomeAutomation/blob/master/SDK/HA4IoT.Networking/HttpResponseSerializer.cs

Complete code (part of my Home Automation Solution):
https://github.com/chkr1011/CK.HomeAutomation/tree/master/SDK/HA4IoT.Networking

Best regards
Christian

[2016-03-11 14:58] Jark commented on #43
Hi Christian,

I don't mind completing the change in restup if you don't have the time to do it. It's not a difficult change to make.

Regards,

Jark

[2016-03-12 10:25] JanWerder opened #45 "Methods exposed to Windows Runtime must return only Windows Runtime types."
I'm getting a

[code]
when following the REST tutorial in the wiki. I'm also using a headless app and getting the same results when trying the example provided in the repo.

[2016-03-12 12:27] Jark commented on #45
Hi,

Can you let us know:

- what device you're trying it on? Is it Windows 10, Raspberry PI, Beagleboard ?
- what version of the W10 sdk are you using? (Right-click a project and look at the Target Version)
- do you get these errors on start-up or when you call the rest method via a browser

Thanks,

Jark

[2016-03-12 13:31] JanWerder commented on #45
* Raspberry Pi 3
* Target Version 10.0 Build 10586
* When I compile the solution

[2016-03-12 16:32] Jark commented on #45
I've done a clean clone from the repository and both the HeadlessDemo and HeadedDemo seem to work fine on a Raspberry PI 2.

I suspect the issue seems to be with your setup of UWP in Visual Studio, have you followed the steps on http://ms-iot.github.io/content/en-US/win10/GetStarted/SetUpVisualStudio.htm? Also, you might need the insider sdk if you're using the Raspberry PI 3 (https://dev.windows.

[2016-03-12 16:56] JanWerder commented on #45
- I follwed the steps from the link you provided before and I'm able to deploy an empty solution.
- Are you sure about the insider SDK? It seems like a language problem more than a SDK problem

I'll attach a screenshot in case that might help you:
![](http://i.imgur.com/ewLDo85.png)

[2016-03-12 18:38] Jark commented on #45
Hello Jan,

Thanks, that did help me with pinpointing what's going on.

I think (don't know for sure since I haven't read up on the uwp compiler model) that all types exported in windows uwp "apps" have to be sealed.

Why the sample app works is because it has got the controllers in a separate library, and this library is referenced by the sample app. Once the sample app is compiled all the librar

[2016-03-12 19:23] JanWerder commented on #45
Hey Jark,

Thanks for the follow up! I appreciate your support.
Since a seperate library project seems a bit over the top to me, if this is something that can be fixed, I think I'll wait. I would like to help out, but I'm not informed enough to put together a PR for this issue.

Thanks ,
Jan

[2016-03-14 10:54] Jark commented on #45
Hello Jan,

After looking into this it turns out the change will be a bit more involved than I'd like.

I think I need to:

- refactor all the responses:
  - move all the types that are defined within them to the outer scope
  - remove all logic that uses generics from them (T IRestResponse.Visit<P, T>(IRestResponseVisitor<P, T> visitor, P param)
  - make them sealed
  - remove the rest verb attri

[2016-03-14 11:36] JanWerder commented on #45
Hey Jark,

Glad to hear!
I hope @tomkuijsten agrees, but I would be suprised to hear otherwise since his [blog indicates](http://www.devkoes.nl/windows-iot-background-app/) that he is working on an iot project as well.

[2016-03-14 12:16] Jark commented on #45
Hey Jan,

Yeah, he is using it for his own project. But I think he defines his controllers in a "Class library" and then references that in a windows runtime component. That scenario works as expected.

This change is to make it possible to define the controllers in a windows runtime component directly.

[2016-03-14 12:25] JanWerder commented on #45
Ok, thanks for clearing that up, but that would require the inclusion of the restup sourcecode into the developers solution, wouldn't it? That may work, but is definitly not the way a library should work. Ideally it would just require the developer to check out the lastet version from nuget.

But that's why the changes described above are neccessary, right? :wink:

[2016-03-14 20:48] tomkuijsten commented on #45
Hmm. I do like the idea that you could use it directly in a project. You are correct about me implementing the controllers in another project, that's probably why I didn't bump into this problem.

@Jark could you explain to me what public contracts will be changed?

[2016-03-15 09:27] Jark commented on #45
@JanWerder No, you wouldn't need the restup source, you'd just need to reference restup in both your class library and main project, and define the controllers in the class library.

@tomkuijsten
These "contracts":
- GetResponse
- PostResponse
- PutResponse
- DeleteResponse
[Now have their internal types (enums) made public (had to rename them in the process) and are turned into a class (since str

[2016-03-16 16:13] HakanL opened #47 "Allow for simple implementation of new Route Handler external to RestUp"
I'd like to implement my own route handler (in my own code, not as part of RestUp) so it would be nice to have HttpServerResponse public so it can be instantiated from external code.

[2016-03-17 10:43] tomkuijsten opened #49 "Allow parameters to make request unique"
jQuery has a cache parameter when doing ajax calls. It adds a "_" query parameter. This breaks the REST uri match and you will receive a bad request response. It should somehow be possible to allow this kind of parameters, but still match your uri.

[2016-03-17 10:45] Jark commented on #49
Related to https://github.com/tomkuijsten/restup/issues/35 ?

[2016-03-17 10:55] tomkuijsten commented on #49
Jee :) It probably has some effect on #35, but they are different in functionality.

[2016-03-17 11:00] tomkuijsten opened #50 "HTML file doesn't send http contenttype header (beta2)"
With current nuget package (beta 2), if you host a html file, there is no contentType header send as response. This works fine in IE and Edge, but doesn't work in chrome/safari. The new implementation with the static MIME list solved this problem, but I'm curious why the value of IFile.ContentType isn't set.

Could be a fault on my side, that's what I expect anyway. But still good to look into.

[2016-03-17 11:07] Jark commented on #50
I had a look into this while doing the change (a lot of googling) and it seems that the underlying file system for the RPI doesn't have the mime type information available.
I also couldn't find a way to add the mime types to the RPI wholesale, it might be worth checking this a few builds along and see if it's a bit more reliable.

[2016-03-17 12:13] tomkuijsten commented on #50
You mean that the IFile.ContentType is never set?

[2016-03-17 12:15] Jark commented on #50
The IFile.ContentType uses StorageFile.ContentType underneath, StorageFile.ContentType is set to "" on raspberry pi, but works fine when you run it on windows 10.

[2016-03-17 12:22] tomkuijsten commented on #47
It currently can be instantiated by using the .Create methods, I don't understand the problem.

[2016-03-17 13:54] tomkuijsten opened #51 "Create nuget package during build for dev purpose"
Handy for testing against latest bits

[2016-03-17 20:00] HakanL commented on #47
Ah, I didn't see the Create method, I copied the StaticFileRouteHandler as a template in my external code, and it used the constructor, so I didn't look deeper into that. I'll check out the Create method, that may solve that (but I think the StaticFileRouteHandler should also use the Create methods)

[2016-03-17 20:14] tomkuijsten commented on #47
I'll reconsider the Create methods, I don't see the added value with eg overloaded constructors. It's probably a left over from another pattern I used. Let me dive into this, you could use the Create methods in the meanwhile, they will be marked Obsolete if we decide to move to overloaded constructors.

[2016-03-17 20:56] tomkuijsten commented on #50
Hmm ok that explains a lot. Thanks for the info. The dictionary is used now as primary source, the IFile.ContentType as a fallback scenario. I'm fine with closing this issue, agree?

[2016-03-17 21:21] HakanL commented on #47
I don't care much if you're using constructors or Create methods, but I think it makes sense to use the same pattern throughout the code, even inside the same assembly even if internals are available.

[2016-03-17 21:39] HakanL commented on #47
The only thing missing is the MimeTypeProvider, it would be good if that was exposed as well.

[2016-03-17 21:58] HakanL commented on #31
If you're in control of both client and server then you could encrypt the payload and pass it via the supported http protocol.

[2016-03-18 09:31] Jark commented on #50
Yup, I agree, we can revisit when things change.

[2016-03-18 09:31] #50 closed

[2016-03-18 11:32] Jark commented on #49
@tomkuijsten

Good to see that you guys are still using that term :) I'm trying to introduce it here too ;)

That's true, but also very related. You could solve both by writing a url query parser and use that in the matching algorithm.

Let's say a method has the following query uri pattern:

[code]

When parsing the method definitions we could store it like this:
[code]

Make sure the rest method

[2016-03-18 20:12] tomkuijsten commented on #49
Good thoughts :). The problem with ignoring parameters is the shown in this sample. Imagine uri pattern 1:

[code]

And pattern 2:

[code]

And i query for

[code]

Which pattern should it match?

[2016-03-22 09:56] Jark commented on #49
Hey @tomkuijsten,

Sorry for the late reply, have been quite busy lately.

I think in that case the api creator could expect undefined behaviour.

If the api creator decides to define the exact same paths (remember it matches on prefix as well, empty in this case) with the same named parameters, and then an api consumer calls it with more parameters than the calls have, then I think undefined beha

[2016-03-27 08:41] JanWerder commented on #45
Is this closed with the merged PR commit 4b3d86c ?
If so, would it be possible to push that version to nuget?

[2016-03-29 06:30] tomkuijsten commented on #49
I agree with the strict matching. So do we want to allow the user the choose the query parameters which should be ignored? So let's say I want to ignore "_" as a query parameter, I should add it when configuring the webserver, eg:

[code]

[2016-03-29 08:29] tomkuijsten commented on #45
There are a couple of things I like to do before we push another version to nuget, eg remove some obsolete files. Until then you could build the bits yourself. If you need any instructions on how to do that, let me know.

[2016-03-31 08:38] Jark commented on #49
I read http://api.jquery.com/jquery.ajax/ and apparently the _={timestamp} is only used for GET requests (which makes sense, since only GET responses should be cached).

What I meant with my reply is that if you have the following UriFormats:

`[UriFormat("/?param1={param1}&param2={param2}")]`

`[UriFormat("/?param1={param1}&param3={param3}")]`

and then this call comes in:

`http://server/api/?pa

[2016-03-31 08:39] Jark commented on #45
Closed due to #46

[2016-03-31 08:39] #45 closed

[2016-03-31 15:17] tomkuijsten commented on #49
I agree and think we should just implement it the way you suggested.

[2016-04-02 15:22] liudanking opened #52 "can't visit HeadedDemo from a remote machine through web browser"
I follow the wiki, and all work well.
Then I launch HeadedDemo on machine A, and I can get response from HeadedDemo UI.
But when I try to visit HeadedDemo from machine B with Chrome, I can't get any response.
I have checked:
1. Machine A and B are in same LAN;
2. Firewall of machine A is off.

[2016-04-02 20:55] WattsC-90 opened #53 "Get/put/post response interfaces not in nuget package"
Hi, followed the wiki, had a look through the examples in the repo for different controllers etc. I am seeing a lot of IPostResponse, IGetResponse etc, but these types dont exist in the nuget package, is this due for an update or are these only available from source at the moment?

[2016-04-02 20:57] WattsC-90 commented on #53
Oh, but the library itself is totally awesome.. Thanks for providing it! Stopped me from crying in a corner when i found iot doesnt do wcf (yet)...

[2016-04-02 23:09] Jark commented on #53
Hi,

Due to #46 the location of IGetResponse, etc. will have moved a bit so you might have to change the imports to the old location if you want to get the samples to work with the NuGet package.

I believe tom wants to do some work before creating a new NuGet package.

Any questions feel free to ask.

Cheers,

Jark

[2016-04-02 23:18] WattsC-90 commented on #53
Thats fine! Thanks for the quick response, just wanted to make sure i was doing things the right way, got everything working as expected except the postresponse which only seems to work successfully in postman if i give it a redirect url rather than just a 201 response.. Maybe thats just postman being a pain though? The microsoft page on "making a post with webrequest" works no bother.. Any though

[2016-04-02 23:32] Jark commented on #52
Hi liudanking,

Are you running the HeadedDemo app from windows 10 on a pc from within visual studio? If so, you might run into http.sys uac permissioning issues.

Can you try running the HeadedDemo in visual studio in administrator mode and trying again? If that works then you might have to use netsh to add a port reservation for the app.

Let me know how you get on and if you have any questions,

[2016-04-03 00:04] Jark commented on #53
The http spec specifies that for http status code 201 (created) the location of the newly created resource should be specified.

I think postman simply adheres to the spec a bit stricter than the webrequest class. You could use fiddler to intercept the requests, but I don't know if that also works with postman.

Hope this helps :)

[2016-04-03 04:04] liudanking commented on #52
@Jark
In the manifest I checked **"Private Networks (Client & Server)"**, and it works now.

[2016-04-03 05:30] liudanking opened #54 "How can I get raw body data of http request?"
Restup is awesome.
I plan to send an image data to restup server and put the image data in http request body.
I find that restup decode data as json/xml format by default.
So how can I access raw body data to achieve it?

[2016-04-03 11:47] Jark commented on #52
Hi @liudanking,

Glad it's now working for you.

The HeadedDemo should however work out of the box as **"Private Networks (Client  & Server)" is specified in the application manifest -> https://github.com/tomkuijsten/restup/blob/master/src/HeadedDemo/Package.appxmanifest#L27.

Did you happen to copy the HeadedDemo files into a new project?

[2016-04-03 11:52] Jark commented on #54
Hello @liudanking,

Are you designing a rest api or are you designing something custom? Sounds like you're doing the latter, if so you'll probably want to implement [IRouteHandler](../blob/master/src/WebServer/Models/Contracts/IRouteHandler.cs) yourself.

You can then send a response back using [HttpServerResponse.Create](https://github.com/tomkuijsten/restup/blob/master/src/HttpMessage/HttpServer

[2016-04-03 12:22] liudanking commented on #52
@Jark I did not copy that file to new project.
I think **<Capability Name="internetClientServer" />** and **<Capability Name="privateNetworkClientServer" />** have different capability. I just find that if I want to visit HeadedDemo from another machine, I must add **<Capability Name="privateNetworkClientServer" />**.

[2016-04-03 12:23] liudanking commented on #54
Hi @Jark

I will have a look of `IRouteHandler`. Many thanks!

[2016-04-04 09:11] Jark commented on #54
No problems, if there are any issues with using IRouteHandler, feel free to open a new issue.

[2016-04-04 09:11] #54 closed

[2016-04-05 06:30] tomkuijsten commented on #53
I have some time this week to get a new nugget package released, so that should fix this issue. Hold on... :)

[2016-04-05 06:34] tomkuijsten commented on #52
Looks like this issue can be closed, correct?

[2016-04-05 06:36] liudanking commented on #52
Yes :)

[2016-04-05 06:38] tomkuijsten commented on #52
Just reading it again and didn't initially see the difference between Internet (Client & Server) and Private Networks (Client & Server). The latter is not enabled in the demo projects and according to this issue it should be, am I correct?

[2016-04-05 06:43] liudanking commented on #52
Yes

[2016-04-05 10:13] Jark commented on #52
Yup, this is why I didn't close it yet, I thought I would have time last night to do the change.

I was going to to add that capability to the demo projects just to make sure it works on Windows 10 systems when tried over a local network.

See: https://msdn.microsoft.com/en-us/library/windows/apps/br211423.aspx

The description at `privateNetworkClientServer` says: "On Windows Phone, provides the

[2016-04-05 11:22] #52 closed

[2016-04-05 15:42] liudanking opened #55 "HeadedDemo not working when the device locked screen"
I run HeadedDemo  as a small web server on machine A, and visit it from a remote machine B.
All works well when I log in machine A.
When I log out machina A and keep HeadedDemo  running on machine A, I can NOT get any response from machine B. If I log in machine A from remote-desptop app again, response is returned as what I want.
Is this what windows universal app designed for? Can I keep HeadedD

[2016-04-06 10:30] tomkuijsten commented on #55
What do yo mean with "when I log out", because if you would really do that, the HeadedDemo will quit (as with all other apps). Do you mean you lock the screen, or close your remote session?

[2016-04-06 10:32] liudanking commented on #55
@tomkuijsten I mean `close my remote session` from machine A.

[2016-04-06 12:52] Jark commented on #55
Hey @liudanking,

I think this is because your app will be suspended when there's no active remote session, I think if you put this code in the OnLaunched event in the Appl.xaml it should work:

[code]

See: http://blog.qmatteoq.com/the-new-background-features-in-windows-10/ for background information.

If this doesn't work you'll have to do use a BackgroundTask with a SocketActivityTrigger and so

[2016-04-06 14:38] tomkuijsten commented on #55
Would a headless app work for you, I guess that will work, even under lock. Worth the try.

[2016-04-06 15:02] Jark commented on #55
I think @liudanking is running on Windows 10, afaik headless apps are not (yet) supported there.

[2016-04-07 01:29] liudanking commented on #55
@Jark @tomkuijsten Yes, I am running HeadedDemo on Windows 10.
I have tested `ExtendedExecutionSession ` with HeadedDemo, unfortunately, it did not work.
I can compile HeadlessDemo on my Windows 10 PC successfully, but when I try to launch it on my PC, it displays an error: `Unable to activate Windows Store app 'NodejsWebServer2_dg3rhm3j3sdc0!App'. The activation request failed with error 'There a

[2016-04-08 01:50] liudanking commented on #55
Hi @Jark
It seems that `SocketActivityTrigger ` is interesting, and I would like to do an experiment with restup.
Currently, I can get a trigger in my background task, and get the socket obj, but I have no idea how to copy the socket data to restup httpserver. Can you give me some guide?

[2016-04-08 08:58] Jark commented on #55
Hey @liudanking,

I did test `ExtendedExecutionSession` and was getting good results with it, only thing I wasn't sure about is if I should've put the code in `OnSuspended` or not.

For `SocketActivityTriger` to work I would instantiate the http server and attach it to a static variable on the application class and use that to pass the socket back to `HttpServer`. You'd have to make some modificat

[2016-04-08 10:18] liudanking commented on #55
@Jark
I need to call some functions which are only available in winRT/uwp, so standard .Net is not suitable.
On the whole, I am looking for a straightforward and clean solution to achieve this. Restup solves 99% of the problem, and I do not plan to move to other solutions.

I have tested `ExtendedExecutionSession ` in `OnLaunched ` function, but did not get a good result. I run HeadedDemo  with `C

[2016-04-11 02:01] liudanking commented on #55
@Jark
I find an interesting thing: when in debugging, HeadedDemo will not be suspended.
So, start HeadedDemo in `debug mode` is the simplest way to keep the app running even I close remote session. But after googling a little, I have not figure out how to launch windows universal app in `debug mode` without visual studio.

[2016-04-12 08:36] Jark commented on #55
Hi @liudanking,

Apologies for the late reply, have been quite busy with personal and work life.

I don't know of any way to launch the app in debug mode without visual studio, but it might be worth revisiting the ExtendedExecutionSession, since it is supposed to disallow suspending, see: http://blog.qmatteoq.com/the-new-background-features-in-windows-10/

In my test (to be fair, I tested only onc

[2016-04-12 14:02] liudanking commented on #55
Hi, @Jark

Appreciate your tracking.

I have tested `ExtendedExecutionSession ` again with following code:
[code]

Some interesting results learned:
1. If I launch HeadedDemo, do NOT do anything with its GUI, then close rdp session directly, HeadedDemo will not be suspended, and will run like a service.
2. After step 1, I re-connect to the machine through rdp, do nothing, then close rdp session, H

[2016-04-15 14:47] EddyRubens opened #57 "Controller can't handle more than 2 GET methods"
I have a Controller that has 3 GET methods. Each of those methods has a different number of parameters. Here are the UriFormat definitions of the methods:

[UriFormat("/api/collections/{collectionName}/artists/{artistName}")]
[UriFormat("/api/collections/{collectionName}")]
[UriFormat("/api/collections")]

The first method never gets called. Is this 'by design'?

[2016-04-15 15:37] tomkuijsten commented on #57
Kindda 😃 I don't think we want to allow a difference between a Uri with our without a trailing slash. Doesn't feel right from REST perspective. The Uri should be clear about its functionality. So the better question is, why two Uri's that are so similar and have the same verb?

[2016-04-15 15:52] Jark commented on #57
I think what @EddyRubens is highlighting is that given the following code:

[code]

He would expect all three calls to be mapped correctly based on how specific your url is.

Imho it would be nice to support this, but if we explicitly don't want to support this than we should document this somewhere and add a unit test to prove this doesn't work.

[2016-04-15 16:44] EddyRubens commented on #57
@Jark you are right, this what I meant.
I was converting a web api service where this possible.
I had a look at the code there is an exception on a 'restMethods.SingleOrDefault' in RestControllerRequestHandler that has too many matches. I'll check later if I can workaround...

[2016-04-15 17:55] tomkuijsten commented on #57
Oh sorry, didn't see the /{collectionName} (mobile website formatting I guess. That should work ofcourse. Probably a problem in the matching algorithm. I'll fix it when I'm home (away for the weekend). Or maybe @Jark can have a look.

[2016-04-15 21:52] EddyRubens commented on #57
There is a relatively easy fix. As all methods are working well individually, it is just a matter of picking just one of the matches. I propose to pick the one with most parameters.

For this, only one line of code needs to be changed:

The following line in RestControllerRequestHandler.cs:
var restMethod = restMethods.SingleOrDefault(r => r.Verb == req.HttpServerRequest.Method);

Could be replace

[2016-04-18 07:18] #43 closed

[2016-04-18 09:24] Jark commented on #57
Hey @EddyRubens,

That's a lot simpler solution then I had in mind! Thanks for the idea.

I think the design should be:
- do the sorting when the methods are being added, e.g. use a `SortedSet` like for the RouteRegistrations in `HttpServer`
- make `RestControllerMethodInfo` implement `IComparable` or use a separate comparer
- change the restMethods to do a LastOrDefault / FirstOrDefault depending

[2016-04-18 11:24] EddyRubens commented on #57
Hi @Jark,

Thanks for taking it up. Your solution sounds right. The problem with my solution is that I do a sort while only a taking the maximum is needed. I had to because there is no MaxBy on the collection and I wanted to keep a one line solution.
Because you build a SortedSet from the start, the effort for getting a sorted list is optimal!

[2016-04-20 16:46] escape2here opened #59 "About error in Restup reference after installed"
Hi guys,

i am a newbie and have a question:

after installed Restup in my VS2015 IDE with "Nuget package manager"  if i click on  "Restup" icon Reference in my solution Explorer a error was displayed:

This project cannot be viewed in the object browser because it is unavailable or not yet built. Please ensure that the project is available and built.

Is it a fatal error ? If yes whats i wrong ?

[2016-04-20 19:41] Jark commented on #59
Hi @escape2here,

Have you tried building your project?

When you build your project all NuGet package references are pulled in and after that the error should disappear.

Let me know if this solves it or if you have any other questions.

Cheers,

Jark

[2016-04-21 06:01] tomkuijsten commented on #57
Fixed with pr #58

[2016-04-21 06:01] #57 closed

[2016-04-21 06:04] tomkuijsten opened #60 "Want to use branches for next version"
I installed the package today and used the howto to get started, didn't work. The documentation is based on the main branch, not the released nuget package. To avoid this I want to start using a branch for development, to keep the documentation in par with the released bits.

[2016-04-21 10:51] Jark commented on #53
Fixed in https://www.nuget.org/packages/Restup/1.0.0-beta3

[2016-04-21 10:52] #53 closed

[2016-04-21 11:00] escape2here commented on #59
Hi Jark,

thanks for your reply. Yes i have built it but the problem still occurred, see a attached screenshot.

Whats i wrong ?

Thanks in advance.
![screenshot](https://cloud.githubusercontent.com/assets/18579028/14706713/a9a8b0e8-07c0-11e6-9aed-79c08e1e8548.jpg)

[2016-04-21 11:17] Jark commented on #59
Hey Escape2here,

Looks like there's something funky going on with Windows Universal references...

If you right-click on Restup and then click "View in object browser" you should be able to explorer the library.

Cheers,

Jark

[2016-04-21 11:24] escape2here commented on #59
Hi Jark,
i don't see anything .... :(

![screenshot2](https://cloud.githubusercontent.com/assets/18579028/14707317/61c14476-07c4-11e6-95ba-548a90e8d6f6.jpg)

[2016-04-21 11:46] Jark commented on #59
Did you right-click on restup and choose "View in object browser" ?

Here's what I did:

![viewrestupinobjectbrowser](https://cloud.githubusercontent.com/assets/754147/14707882/fd39ca14-07be-11e6-90bd-5c3db73ded06.gif)

Cheers,

Jark

[2016-04-21 13:26] escape2here commented on #59
Hi Jark,

if i click dx on "Restup" reference i have only "Proprieties".

I use VS2015 update 1

Thanks.
![screenshot3](https://cloud.githubusercontent.com/assets/18579028/14710370/69c941c6-07d5-11e6-8341-af803f08cfb5.jpg)

[2016-04-21 18:30] jasonmalinowski commented on #59
Just a heads up, this is a known issue with Visual Studio NuGet references when your project has a project.json file in it. We're tracking it over at dotnet/roslyn#10685

[2016-04-22 06:28] #47 closed

[2016-04-22 08:16] escape2here commented on #59
Thanks @jasonmalinowski.

[2016-04-22 13:17] Jark commented on #59
Thanks @jasonmalinowski, clears this issue up :)

@escape2here, just wanted to confirm that this doesn't stop you from using restup, it will just be a bit harder to figure out what to use.

The wiki: https://github.com/tomkuijsten/restup/wiki

and the sample projects in (HeadedDemo/HeadlessDemo) https://github.com/tomkuijsten/restup/tree/master/src

Cheers,

Jark

[2016-04-22 14:37] escape2here commented on #59
Hi Jark,
absolutely not :)

Now i am working on it and seeing the sample project.

Thanks.

[2016-05-23 09:56] tomkuijsten opened #61 "Structs on controller methods are not accepted"
I tried making a controller parameter a struct, which was not accepted (InvalidOperationException). Should this be a valid scenario?

[2016-05-23 18:59] tomkuijsten commented on #16
After reading a lot of blog posts and SO questions, I believe that the ```?id=1,2,3``` would be the best approach.

[2016-05-24 11:36] Jark commented on #16
Could you elaborate a bit more?

For instance, how would you send this array over the wire using this method?

[code]

[2016-05-25 10:05] tomkuijsten commented on #16
[code]
You should always html encode your string.

While I'm thinking of it, the ```,``` might not be the best separator. If you want to send decimals, it would be nice if a ```,``` wouldn't have to be encoded (for url readability). A ```;``` might be a better solution (as [StackOverflow](https://api.stackexchange.com/docs/questions-by-ids#order=desc&sort=activity&ids=123%3B1234&filter=default&sit

[2016-05-25 10:10] Jark commented on #16
Semicolons do seem to work a bit nicer indeed.

The `&` character should not have to mess up the query parameter encoding since all html encoded strings will end every encoded character with a `;`.

So we could either write a parser that doesn't use regex, or we could simply url decode the string before using regex to match it up :)

[2016-05-25 10:33] tomkuijsten commented on #16
I'm a bit confused about encoding strings, you could encode the character  ```"``` as ```&quot;``` and as ```%22```. Can all characters be encoded to a ```%``` variant? If so, the whole ```&``` issue can be avoided.

Ps: I can't find any big REST api using strings as an array. Yes, SO and TFS do allow tags as array, but those do not accept "problematic" characters in the first place.

[2016-05-26 10:08] tomkuijsten commented on #16
Not so confused anymore :). The ```%``` encoding seems to be the way to encode characters for an [URI](https://en.wikipedia.org/wiki/Percent-encoding) the ```&xxx;``` notation is for html documents.

I've created some unit-tests around the cases I wish to support (and they all fail ofcourse). One tiny thing, I forgot to commit yesterday, do that tonight.

[2016-05-26 10:13] tomkuijsten commented on #60
Using a development branch now

[2016-05-26 10:13] #60 closed

[2016-05-26 10:14] tomkuijsten commented on #61
Enum seems to have the same problem

[2016-05-26 10:15] tomkuijsten opened #62 "Websocket support"
Looks like it's pretty simple to implement this, take a look at this implementation:

https://github.com/sensaura-public/iotweb

[2016-06-02 14:08] tomkuijsten opened #63 "Should all strings in the url be decoded"
While implementing #16 I started thinking about string parameters. Shouldn't we always url decode a string?

[2016-06-02 14:51] tomkuijsten commented on #16
@Jark care to review?

[2016-06-03 07:13] Jark commented on #16
Sure, will do, will probably be a bit later today.

[2016-06-03 13:08] tomkuijsten commented on #49
I ended up implementing it in a slightly different way. Too prevent confusing matches of uri's, I held on to the idea that the given ```UriFormat``` should match exactly (no different order of parameters allowed). The only thing I added is the option for extra query parameters, which are ignored if there not part of the ```UriFormat```.

@Jark care for another review? :)

[2016-06-03 13:08] tomkuijsten commented on #49
Btw, I didn't clean up the code yet, only made all tests work again.

[2016-06-03 13:38] tomkuijsten commented on #35
I don't think we should make such a big difference between handling path parameters and query parameters. That's why I think this issue can be closed.

[2016-06-03 13:38] #35 closed

[2016-06-03 13:59] tomkuijsten commented on #51
Is being build now.

[2016-06-03 13:59] #51 closed

[2016-06-10 08:31] aquisio opened #64 "HeadedDemo is not accessible from a browser"
Apologies in advance: I realize that this issue has been discussed in a previous thread, but none of the  recommendations in that thread have helped me.

When running HeadedDemo, either debugging from within Visual Studio 2015 or directly from Windows 10, it works fine. However, I am unable to access it from a browser, either on the local machine or remotely.

I have tried disabling the Windows fi

[2016-06-10 08:36] dm-CaT commented on #64
Did you try to run demo using web server's source codes instead of NuGet packages?

[2016-06-10 08:39] Jark commented on #64
Hello Aquisio,

Locally you can't access anything hosted by StreamSocketListener (which is used by restup internally), this is by design by Microsoft. In the HeadedDemo we get around by this because apps are allowed to connect to StreamSocketListeners hosted in the same process. See http://stackoverflow.com/questions/32665847/cannot-connect-to-streamsocketlistener.

Remotely you should be able to

[2016-06-10 09:16] aquisio commented on #64
Hello Jark,

Many thanks for your very quick reply.

Yes, I'm sorry - you're right. The manifest is correctly configured (I cloned your GitHub repo) and it does indeed work remotely. I'm not sure what I did wrong in my earlier remote tests, but it is definitely working now.

Is there any workaround that will enable me to test my app locally from the machine that it is being developed on?

Thanks a

[2016-06-10 09:54] tomkuijsten commented on #64
Should we add something to the Wiki? If you run into this issue, more people will.

[2016-06-10 09:58] Jark commented on #64
Hello Aquisio,

Unfortunately I don't know of any way... I have tried the loopback exemption, but that apparently just doesn't work... (https://msdn.microsoft.com/en-us/library/windows/apps/Hh780593.aspx).

This is the reason why I expanded the HeadedDemo ui to include a way to test the local server, maybe you can do something similar? E.g. conditional debug statements that include the test ui?

@

[2016-06-10 10:00] dm-CaT commented on #64
I think it should be included somewhere on top of wiki. ;)
I faced the same problem and spent about an hour to find the solution.

[2016-06-10 10:02] Jark commented on #64
That seals it, seems the wiki needs a little bit of work done to it, I'll take care of it today.

[2016-06-10 10:05] tomkuijsten commented on #64
Good, just created a custom menu. You can change it if you like.

[2016-06-10 10:45] aquisio commented on #64
Thanks to everyone for your guidance. Now that I know about this limitation, it's easy enough to work around using 2 machines.

[2016-06-10 11:01] tomkuijsten commented on #37
Known "issues" with serialization:

https://msdn.microsoft.com/en-us/library/dn600165(v=vs.110).aspx#Step4

[2016-06-10 13:48] tomkuijsten commented on #37
For the nuget package this is not really an issue as the package is build as AnyCPU which doesn't use the ".Net native tool chain". But it is a problem when using the toolchain. I couldn't find much information other then the link I posted and that following those guidelines runs into a XML_MissingSerializationCodeException, which is nowhere to be found on the internet (other then the [source](htt

[2016-06-10 14:01] tomkuijsten commented on #61
I tested this with Enums (as [FromContent] parameter) and that worked fine.

Structs can't have public properties, because "windows runtime" structs can only contain public instance fields, see [msdn](https://msdn.microsoft.com/en-us/library/br230301.aspx) for more info.

[2016-06-10 14:01] #61 closed

[2016-06-10 14:03] tomkuijsten commented on #61
Wiki updated

[2016-06-10 14:05] tomkuijsten commented on #59
Can this issue be closed?

[2016-06-10 14:12] tomkuijsten commented on #55
Any new insights on this matter?

[2016-06-12 20:11] Jark commented on #64
I've renamed the Limitations page to FAQ and have added to it: https://github.com/tomkuijsten/restup/wiki/FAQ, I've also added a CONTRIBUTING.MD so that when a new issue is raised they get referred to the FAQ first.

With this, I'm closing this issue.

[2016-06-12 20:11] #64 closed

[2016-06-12 20:12] Jark commented on #63
We should url decode a string yes, I wonder if .NET might already do this for us, worth some testing.

[2016-06-16 14:52] tomkuijsten commented on #59
Read the whole thread, looks like this can be closed.

[2016-06-16 14:52] #59 closed

[2016-06-16 21:06] tomkuijsten commented on #42
This is an interesting option:

https://blogs.windows.com/buildingapps/2016/06/10/using-device-portal-to-view-debug-logs-for-uwp/

[2016-06-18 16:51] stevegg commented on #49
The way this is commonly done in Java Frameworks (Jersey and its derivatives) is that urls are matched but parameters are not.  Missing parameters are given default values.  (e.g. strings are "", numeric values are 0).  You use an attribute on the parameters in the method signature to match the query parameter and (optionally) to set  default values.  For example:

        @Path("/foo")
        pu

[2016-06-18 16:59] stevegg opened #65 "Allow adding header values from the controller"
I have  a use case where I want to use a REST api to return an image. Right now there's no way (that I could find) to modify the content-type header before it's returned to the caller.  What would be great is something like:

[code]

It would also be useful to have some way to add headers to all responses (event?).  This would allow adding things like CORS headers.  e.g. :

[code]

[2016-06-18 18:53] clough42 opened #67 "Need access to incoming request headers"
I'm trying to do HMAC-based authorization of incoming requests, and to do this, I need to be able to read the request headers.  I see in the implementation docs that there should be an attribute to do this (FromBody), but I don't see it in the code anywhere?

Am I missing something obvious?

[2016-06-18 23:33] stevegg commented on #67
Yeah, it'd be great if there was a way to inject the actual HttpServerRequest.  This would nicely get around the problem of matching query parameters by allowing the user to add code in the controller to get parameter values from the request.

[2016-06-18 23:40] stevegg commented on #65
I created a pull request (https://github.com/tomkuijsten/restup/pull/66) with some code to implement the above.

[2016-06-19 00:14] stevegg commented on #65
Did another pull request for Development branch (https://github.com/tomkuijsten/restup/pull/68) (What I should have done first).  Please ignore #66

[2016-06-20 06:38] tomkuijsten commented on #67
@clough42 the ```FromBody``` is used to fill your parameter with data from the http body. If you send some json data with your http request, it will get deserialized and provided as the ```FromBody``` parameter.

I like the idea of some more control over headers in your request/response chain. Would be quite easy to inject it in your controller method. We could search for a parameter of type ```Ht

[2016-06-20 08:41] Jark commented on #67
Exposing the whole request in the method to solve HMAC authorisation seems a bit like a hack to me, I don't think you want to deal with authorisation based things in the controllers themselves, but it should be handled outside. I'm wondering if it would be a good idea to implement Authorization header support to solve this issue.

@clough42 do you require hmac to be done by using the Authorization

[2016-06-20 08:58] Jark commented on #65
`1.` I don't think it's a good idea to return an image through the rest api. I also had a look at https://github.com/tfredrich/RestApiTutorial.com and I can't find any reference to returning an image as a response.

Can you provide us with your use case for wanting to do this?

I would implement a custom IRouteHandler to return an image, you have got a maximum amount of flexibility there and it se

[2016-06-20 09:00] Jark commented on #49
@tomkuijsten I'll have a look at your modified code today, is it still ready for code review?

[2016-06-20 09:44] tomkuijsten commented on #49
Let me put it this way... there is room for improvement. Feels a bit too hacky now. I do feel for an approach as suggested by @stevegg . Or at least make a separation between the url segments and query parameters.

[2016-06-20 09:46] Jark commented on #49
@tomkuijsten I'll take a look then and try and make some improvements on top of your code, we can then see if those are improvements or not :)

[2016-06-20 09:51] tomkuijsten opened #69 "Controllers with constructor parameters don't throw exception when parameter is unavailable"
There is this nice overload when registering a controller:

[code]

And I expected it to throw an exception if I don't provide a parameter but the constructor needs one. As I'm the one who implemented this, I'll solve it :)

[2016-06-20 15:10] stevegg commented on #65
My specific use case is that I aggregate dynamic images from a set of cameras on my network.  The images are displayed in a web interface as well as stored in a database at regular intervals.

As for not needing to add headers....I've heard that comment before.  It was a common refrain during the development of Jersey for Java.  In the end there are many many reasons to add headers.  Whether it's

[2016-06-20 16:00] Jark commented on #65
`1` Your use case does not seem to be a good fit for a REST api. In your case I would implement a custom IHttpHandler to return the images that you want. Should be fairly simple to do and would give you the maximum of flexibility that you need and will work now (without any changes needed to restup).

If we want to support your use case (returning different content than json / xml), then we should

[2016-06-20 16:33] Jark opened #70 "Support Cross-Origin Resource Sharing (CORS)"
We should support CORS in restup on a HTTPServer level.

HTTP spec: https://www.w3.org/TR/cors/
MDN: https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS

For our first implementation we should just support simple cross-origin request. After that we can do the work to support preflight requests as well.

Whoever picks this up, please make a (simple) design first since it will most

[2016-06-20 17:03] stevegg commented on #65
While I disagree it's probably not worth arguing over.  There are a good many examples of returning images from a REST service....BUT....what you're saying makes sense as well.

Will attempt to implement it with an IHttpHandler.  I'm guessing this would mean a custom route to point to my image resource.  Will this allow me to pass an ID?

In my case the cameras are a resource (basic DB crud using

[2016-06-20 17:08] stevegg commented on #67
As per #65 there are good reasons to be able to access the Http Header (and other values) of the incoming request directly.  While in this case it makes sense to build authentication mechanisms into the platform it won't always make sense to try and build everything into the platform.

[2016-06-21 08:40] Jark commented on #49
@tomkuijsten I did a bit of prototyping work around parsing the urls differently which I think will make for a solid base, but haven't finished yet. Will hopefully be able to push something up today.

[2016-06-21 09:02] Jark commented on #65
Can you point me to any rest document which recommends your approach?

This is the pattern I would suggest using:

[code]
and then you would have a IHttpHandler listening on /snapshots, all incoming requests would come in with the url `/<guid/id/name>` which you would then map directly to a db query / cache.

Similarly your `GET /api/camera/{id}/snapshot` request would return the image url for you

[2016-06-21 14:02] stevegg commented on #65
At the risk of prolonging the debate (Honestly I think what your suggesting will work fine)... You need to only do a google search for "REST service with images".  In fact I see common use cases returning all sorts of binary data...is it a good idea....hmmmmmm

I guess I'd like to understand why you believe that returning an image in an API call is a bad thing?  If you could point me to something

[2016-06-28 15:16] WattsC-90 opened #72 "Support JSONP Wrapper"
Support JSONP Function Wrapper for cross-domain calls.
good information on the requirement can be found here: http://stackoverflow.com/questions/3295692/does-jsonp-require-server-modifications

JSONP requires server side support unfortunately, would be great if RestUp supported it

[2016-06-28 15:29] WattsC-90 commented on #72
This may be made redundant by the issue Jark opened about CORS support..  #70
Apparently JSONP is oldhat..

[2016-06-30 15:25] tomkuijsten commented on #49
Would be nice :) Want to release a stable version any time "soon"...

[2016-06-30 15:49] Jark commented on #49
Hi @tomkuijsten,

Have a look at https://github.com/tomkuijsten/restup/compare/development...Jark:parameters-code-review everything is building and unit tests are green

I've added a https://github.com/Jark/restup/blob/d382a5ba16fcdaaebac62dc4dadf2e78cb019e3d/src/WebServer/Rest/UriParser.cs which parses any string uri into its relative parts (https://github.com/Jark/restup/blob/d382a5ba16fcdaaebac

[2016-06-30 20:58] Clouvey commented on #37
I ran into an issue where debug reported an unsupported protocol when the browser tried to link to the device. I compiled with .NET Native tool chain turned on and it fixed the issue and now works great. I'm running with the latest version of all NuGet packages so this may have caused the issue. I also have everything set to build as native ARM in the Configuration Manager. (Note: full solution co

[2016-07-01 07:05] tomkuijsten commented on #37
Thanks for your feedback. Did you use the nuget package from the development branch? Or pulled and build the code yourself?

[2016-07-01 12:32] Clouvey commented on #37
Pulled and built the code.
I had been looking for code I could use with the Raspberry Pi BME280
weather module to display temperature and humidly from a web page.
Works great.
Thanks again for the code contribution.

On 07/01/16 03:05, Tom Kuijsten wrote:

[2016-07-01 13:18] Jark commented on #49
Hey @tomkuijsten,

I'm done with the refactoring. Let me know if you have any questions / don't think this is a good idea :)

Cheers,

Jark

[2016-07-01 15:05] Clouvey commented on #37
Resolved issue where debug reported an unsupported protocol when the browser tried to link to the device when using the NuGet package.  Micro SD card on Raspberry Pi was corrupt / failing. My bad for using an old card. Replace with a new one and all is well.

[2016-07-04 12:28] tomkuijsten opened #74 "Sign assemblies"
Don't have to explain :)

[2016-07-04 12:43] Jark commented on #74
What's the main reason for wanting to do this?

[2016-07-04 12:59] tomkuijsten commented on #74
Prevent warnings in my signed project. Security is not really a problem right now, but will be in the future. You are right about the snk, any idea how other repo's do these kind of things?

[2016-07-07 07:03] tomkuijsten commented on #69
Won't do. If you want to implement this it should be when the controller is instantiated, which creates a performance hit. And it's kinda complex if you want to support constructor overloading, default parameters etc.

[2016-07-07 07:03] #69 closed

[2016-07-07 07:06] #74 closed

[2016-07-07 08:16] tomkuijsten commented on #65
You can set headers in your response object (#75). If it's not sufficient, please, add another issue so we can talk about it separate from the header discussion.

[2016-07-07 08:16] #65 closed

[2016-07-07 08:17] tomkuijsten commented on #49
PR?

[2016-07-07 08:19] tomkuijsten commented on #49
Fixed with #73

[2016-07-07 08:19] #49 closed

[2016-07-07 08:21] tomkuijsten commented on #42
Do you have a PR ready @Jark?

[2016-07-07 08:24] Jark commented on #42
Not yet! In my break later today I'll create a pull request for the interface project only, and will do a standard implementation as a separate pull request.

[2016-07-07 08:50] Jark commented on #16
@tomkuijsten this is fixed now right?

[2016-07-07 09:40] tomkuijsten commented on #16
Jep

[2016-07-07 09:40] #16 closed

[2016-07-07 12:00] tomkuijsten commented on #67
@Jark what's your main argument for not exposing the request? I still think it should be possible somehow to access all request information. If we would expose this,  #70 (CORS) will be possible too.

[2016-07-07 12:08] Jark commented on #67
@tomkuijsten well I don't especially mind if you do want to expose the request somehow, but I think the reasons given (implementing authorisation headers, implementing CORS) are bad reasons.
These are features that are so ingrained in how rest servers are used that these should be handled by restup itself in one way or another.

Also, exposing the request is kind of like exposing lower level abstr

[2016-07-07 13:13] Jark commented on #42
See -> https://github.com/tomkuijsten/restup/pull/76

[2016-07-07 16:00] clough42 commented on #67
@Jark, I hear the arguments about authorization, though I'm not sure it's the job of the REST framework to restrict how my application authorizes.  In my case, it is a very simple embedded device that can display a QR code for a remote control UI.  The client javascript hashes the endpoint URL, posted data, a timestamp and a secret (provided in the hash of the QR code URL) and provides the hash al

[2016-07-07 16:46] Jark opened #77 "Add an IHttpRequestFilterAttribute"
I propose to add an IHttpRequestFilterAttribute which should allow you to reject certain calls or send a different request back. With this we could easily add CORS or authorisation support.

You should be able to apply this attribute on methods and on the class, the class one will be triggered first, and then the method level ones.

[2016-07-07 16:52] Jark commented on #67
@clough42

I understand that for you this is a really important feature, but we can't just accept / add any feature without thinking about the design. If we just add any feature without thinking we're going to end up with a slow rest server that is hard to use.

As I mentioned above, I do think we should have the ability to inspect the headers in the method for any use cases we haven't thought abo

[2016-07-08 07:03] tomkuijsten commented on #67
I think we're all pretty much on the same page. I do want to allow extensibility, but don't want to implement specifics (like CORS). If we look at WCF, it doesn't support CORS out of the box, but you can easily implement it using a [message inspector](http://enable-cors.org/server_wcf.html). I think we should provide something like a message inspector, but that's exactly what @Jark is proposing in

[2016-07-08 07:46] tomkuijsten commented on #70
This is supported as custom implementation through #77 and #75

[2016-07-08 07:46] #70 closed

[2016-07-08 07:47] tomkuijsten commented on #72
My understanding too. CORS will be available as custom implementation when #77 is done.

[2016-07-08 07:47] #72 closed

[2016-07-08 09:49] tomkuijsten commented on #77
I would suggest a more "low level" approach. Like you said before, you shouldn't mangle different abstraction levels. I would expect some interface when the route gets registered. Maybe a ```BeforeSendReply``` and ```AfterReceiveRequest``` like the [IDispatchMessageInspector](https://msdn.microsoft.com/en-us/library/system.servicemodel.dispatcher.idispatchmessageinspector(v=vs.110).aspx).

[2016-07-08 14:38] Jark commented on #63
Fixed by #78

[2016-07-08 14:38] #63 closed

[2016-07-08 14:40] Jark commented on #77
I agree, it looks like we want something similar to ActionFilters in asp net core --> https://damienbod.com/2015/09/15/asp-net-5-action-filters/

[2016-07-08 14:40] Jark commented on #67
Agreed

[2016-07-12 08:51] kgroener opened #79 "No validation for unique URLs"
Currently you can register the same UrlFormat multiple times, but this causes runtime undefined behavior. I would have expected some kind of error.

[2016-07-12 09:39] kgroener opened #80 "No error when UrlFormat could not be mapped"
The following code should give an error that the uriformat could not be mapped to the specified method. (foobar parameter does not correspond to any method argument), but I did not get such an error in a similar case.

[code]

[2016-07-12 22:24] Dameon13th opened #81 "Unable to deployt to IoT on Pi3"
I copied the headless application, modified it, and tried deploying it to my IoT device.
It fails to install with the following error. Failure reason: Failed to start deployment. Failure text: Package failed updates, dependency or conflict validation. (0x80073cf3)

Device Model:  Raspberry Pi 3
OS Version:  10.0.14366.0

[2016-07-13 11:16] tomkuijsten commented on #81
Tried deploying on the pi3 with ffu 14366, but it works fine.

Could you add some more details, eg VS version, OS version etc

[2016-07-15 09:19] Jark commented on #80
This sounds like some good validation to add, unfortunately I don't think we have time to implement this.

I'll add the up-for-grabs label so someone can do this if they want.

[2016-07-15 09:21] Jark commented on #79
This sounds like a sensible thing to do, I'll add the up-for-grabs label so people know it's something they can implement.

[2016-07-15 18:08] tomkuijsten commented on #67
Just created a new [branch](https://github.com/tomkuijsten/restup/tree/feature-message-inspectors) for this feaure.

[2016-07-15 21:24] Jark commented on #42
Closing since it's fixed with #76

[2016-07-15 21:24] #42 closed

[2016-07-17 18:14] tomkuijsten commented on #77
Busy on the feature branch for this. @Jark could you take a look and let me know if you agree on how I intent to implement this feature.

[2016-07-17 20:18] Jark commented on #77
Hi @tomkuijsten,

There's a couple of questions/remarks I have about the design:

1. Why did you choose to put the IMessageInspector functionality in HttpServer? I thought the idea was to be able to add an attribute to the controllers / methods in rest land and do the BeforeExecuting / AfterExecuted logic like asp .net does it (https://msdn.microsoft.com/en-us/library/gg416513(v=vs.98).aspx)
2. Pl

[2016-07-18 07:21] tomkuijsten commented on #77
1. Well... you kind of agreed on that in this very discussion :) I like the idea of a message inspector over attributes, The inspector is on another abstraction level, which makes sense as you are mangling with low level data. With attributes you have to tag each and every class/method, which is a bit cumbersome if you need something like CORS for every API call. The way I see it; you want all or

[2016-07-19 15:01] ummarbhutta commented on #62
Any example how we can add support of Websocket in restup?

[2016-07-20 10:36] tomkuijsten commented on #62
You can take a look at https://github.com/sensaura-public/iotweb. To make it work in restup, we would need some changes in the RouteRegistration to allow a route to access input/output streams.

[2016-07-20 10:48] dm-CaT commented on #81
I have restup working on 13766 without any doubts in headless application.

[2016-07-20 11:04] dm-CaT commented on #81
Can you try to reinstall Windows Core and then install your application on clean OS?

[2016-07-20 11:31] ummarbhutta commented on #62
Thanks for sharing the link, The problem is I am already using the **restup** on my WindowsIoT platform, and I couldn't extract any useful information from the link you shared, It doesn't have any example. So what I am looking for is a way to integrate the Websocket support in **restup**, any help on this?

[2016-07-20 11:39] tomkuijsten commented on #62
We're (@Jark and myself) currently busy with another feature. This is not planned for the next stable release. Another usefull github project would be the [microsoft sample](https://github.com/Microsoft/Windows-universal-samples/tree/master/Samples/WebSocket). In restup we should probably change or overload the [RegisterRoute](https://github.com/tomkuijsten/restup/blob/master/src/WebServer/Http/Ht

[2016-07-21 00:11] psykad commented on #81
Have you tried deploying from a fresh copy of the source? How are you deploying it?

[2016-07-27 09:47] tomkuijsten commented on #81
@Dameon13th I consider this as fixed as there is no response. If you still encounter the problem after the suggestions (thanks @psykad and @dm-CaT ), you can reopen the issue.

[2016-07-27 09:47] #81 closed

[2016-07-27 10:03] dm-CaT opened #82 "Authentication/Authorization support"
It will be great to have some kind of authentication/authorization functionality.
Something like [Authorize] attribute in ASP.NET with possibility to redirect to authentication page.

[2016-07-27 17:18] suresh-dev commented on #31
Hello Everyone,

I am trying to create SSL Server in UWP, and i want to implement SSL handshake manually. I am able to create http server not https.

if there is any possible ways
is this possible?
if it is possible can direct me?

thanks.

[2016-07-27 17:38] Jark commented on #31
Hi @sureshdev,

Please have a look at my previous reply on this thread. It contains some pointers of now to do this.

Cheers,

Jark

[2016-08-22 14:29] tomkuijsten commented on #77
Holiday is over and I want to allow CORS as I need it as well for our webapp. I did some reading of CORS and if I understand correctly we have to support the OPTIONS (preflight) method to support a POST with xml or json data. I think we should make a list of changes we need to support the preflight CORS functionality.

[2016-08-22 21:30] benbrandt22 opened #83 "PostResponse(PostResponse.ResponseStatus.Created) causes empty response error with Angular"
I'm not sure if this would qualify as a bug or an improvement, but I'm running into a scenario with Angular 1.5.7. I'm not familiar with other client side frameworks, so I'm not sure if this is Angular specific or not.

I'm using Angular to post JSON data back to the restup server. This all happens within the context of the client-side app (not a "normal" form post). I want the client side app to

[2016-08-25 14:44] tomkuijsten commented on #83
Thanks for the report, sounds like a bug. I struggled a bit to get all the http headers correct for browsers (and fiddler) to accept them as "valid" success responses. I thought that all worked fine now, but appearantly missed this one.

[2016-08-28 11:29] Jark commented on #77
@tomkuijsten Have a look at https://github.com/tomkuijsten/restup/issues/70 and the links I posted in there :) The spec contains the needed information to create the functionality.

[2016-08-30 06:26] tomkuijsten commented on #77
Thanks for the links. I do get the request more often for CORS support. My initial idea was to enable other developers to access header information and let them implement this specific scenario. But I must admit that I'm not so sure about that approach anymore, looks like a broadly used pattern which should be part of our core. What do you think?

[2016-08-30 09:19] Jark commented on #77
Yeah, let's add it to the core support. Think it's quite important to have generally speaking.

I have some free programming time coming up this weekend, if you don't mind I can probably whip something up?

[2016-08-31 09:45] mbrewerton opened #84 "Question: Will Restup support POSTing files?"
Hi, I've been trying to find a way to post file data to my IoT device, and I was just wondering if Restup will provide that functionality? That's the core of my project so it's a game-changer if it can!

Apologies if this is a silly question!

[2016-09-01 08:57] tomkuijsten commented on #77
I don't mind Go your gang... :)

[2016-09-02 08:11] tomkuijsten commented on #84
It's not a silly question as REST doesn't imply any particular data format (or even carrier). However, I'm not planning to support this. It would mean a serious amount of work and I think most of our users are satisfied with the json and xml options.

[2016-09-02 08:11] #84 closed

[2016-09-02 08:12] tomkuijsten opened #85 "No exception when number of constructor arguments don't match"
There seems to be no check on type/# of arguments passed in the RegisterController method.

[2016-09-02 08:17] Jark commented on #77
Only had an hour yesterday, but managed to get cors working. All very hacky right now, needs to have some kind of permissions set added to it + tests still. Will do a pull request once I've got something working. Here is the code if you're interested -> https://github.com/jark/restup/tree/feature-add-support-for-cross-origin-headers

[2016-09-02 11:19] tomkuijsten commented on #77
Am I correct that these are only the headers? If so, what's your plan for supporting CORS out-of-the-box. I see a couple of scenario's:

1. We expose the headers and make some kind of interception possible to send a response without a request to a REST controller
2. We automate everything. We write the interceptor ourselves, see what verb is being ask for, check the REST controllers to see if we s

[2016-09-02 11:26] tomkuijsten commented on #55
Looks like this is not really a common problem, as we don't get any other issue about this. I suggest to close it to keep the backlog clean (would still be accessible through the archive). Let me know if you think otherwise.

[2016-09-02 11:27] #37 closed

[2016-09-02 14:10] Jark commented on #77
First, it might be worth reading `https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Preflighted_requests`, it's really good at explaining CORS.

I've hacked it together so that all the bits are there to support both simple and pre-flighted requests (so the ones that send an options request for the same exact url) so it is fully working. Some of the intricacies are still missing

[2016-09-29 05:05] tomkuijsten commented on #77
Closed with PR #86

[2016-09-29 05:05] #77 closed

[2016-09-29 05:10] tomkuijsten opened #87 "Access to incoming and outgoing headers"
To support scenario's described in #67. This issue became a bit messy with a discussion about CORS and the PR that should have solved all problems. The PR #86 doesn't solve the problem described in #67, so I created a new fresh issue.

[2016-09-29 05:11] tomkuijsten commented on #67
Replaced by #87

[2016-09-29 05:11] #67 closed

[2016-10-03 22:34] capcata opened #89 "Can you add a sample project?"
I can't build any code because I can't figure out which references shuld I use.

The wiki samples are missing:
https://github.com/tomkuijsten/restup/wiki/Samples

Thanks
Guido

[2016-10-04 06:31] micharichter commented on #89
If you can wait until Thursday I could create a dsimple console application. Please let me know (Tom) If you want me to do this.

Regards Micha

[2016-10-04 06:58] tomkuijsten commented on #89
Fixed the links, thanks for pointing it out to me. But even without any samples, you should get going by just reading the [one pager](https://github.com/tomkuijsten/restup/wiki/One-pager).

@micharichter thanks for the help, I would say the existing samples will do, If you decide to create another sample, I would suggest to extend the existing one ([HeadedDemo](https://github.com/tomkuijsten/restu

[2016-10-04 08:10] micharichter commented on #89
Hi Tom,
my proposal:  I`m working on a project to switch on / off GPIO ports of my RaspberryPi at home via an Azure hosted WebApplication. I`m using your restup to handle the requests on my pi. After finishing this , I want to publish this project here on Github. We could link this on this page if you like.

[2016-10-04 08:24] tomkuijsten commented on #89
Post a link when your done, we could add a wiki page with projects using restup. Thanks in advance.

[2016-10-05 04:42] capcata commented on #89
Thanks a lot.
Sorry, I've not touched visual studio in 10 years. I'm trying to do my best.
I'm working on a two-way Json comunication Arduino-RPi.

[2016-10-05 05:09] tomkuijsten commented on #89
Not a problem at all. As I said before, the pi part is pretty well explained in the one pager. I can't help you with the arduino part, don't have any experience in that area.

[2016-10-05 08:43] Jark commented on #80
Taking care of this as a move to increase the amount of validation that restup currently does on startup.

[2016-10-06 07:30] #83 closed

[2016-10-10 07:56] tomkuijsten commented on #89
Will close this issue. Please, open a new one (@micharichter) when your project is available.

[2016-10-10 07:56] #89 closed

[2016-10-12 14:01] Jark commented on #79
Closing since it's fixed by #93

[2016-10-12 14:01] #79 closed

[2016-10-16 11:10] mattpacker opened #94 "CORS doesn't seem to be working"
I have the following code which is to act as a json proxy between two bits of my network but the CORS header doesn't seem to be being added on. Chrome complains and I also can't see the header if I just do a normal powershell invoke-webrequest on it.

Any ideas why?

`

[code]

`

[2016-10-17 08:37] Jark commented on #94
Hi @mattpacker,

Can you show me the Invoke-WebRequest you're doing? are you adding the Host header with your domain when you invoke the request?

Also, are you sure your json request is coming from http://mydomain.com and not from any subdomain (like for example http://www.mydomain.com) ? The host header will have to exactly match what you pass into AddAllowedOrigin.

[2016-10-18 12:09] tomkuijsten commented on #94
I tested this scenario and the headers do get added. I think @Jark raised the possible problem. A simple test for you @mattpacker  would be to use the `EnableCors()` method, without explicitly specifying the host. That should work.

[2016-10-18 12:48] tomkuijsten commented on #94
@mattpacker I created a reproduction scenario with Chrome and got the same error message, I'm investigating it right now.

[2016-10-18 12:52] Jark commented on #94
@tomkuijsten thanks for investigating.

Make sure you use fiddler to examine the responses and not chrome itself. Chrome will sometimes leave out some of the headers / remove headers that you specify in your JavaScript.

[2016-10-18 13:00] tomkuijsten commented on #94
Well chrome did it perfectly well, the problem was that I made the exact same mistake as @mattpacker  probably. I didn't use the `EnableCors()` but specified a wrong host. When I fixed that it all worked fine, tested in Chrome (developer tools are not that clear about the problem though, you should check the console for the real error).

@mattpacker, please, confirm that it was the hostname, or el

[2016-10-21 08:59] mattpacker commented on #94
Hmm. I am still having issues here. Is it possible I can supply you with the hostname / IP address to your email to avoid pasting here and you can take a look?

Thank you for your help.

[2016-10-21 09:55] tomkuijsten commented on #94
Send me an e-mail: tomkuijsten at gmail.com

[2016-10-31 23:39] Compactis commented on #20
Hello, I think I understand well how to arrive to fulfill the condition. Could you tell me somebody write all that code while (allDataRead). How does it perform allDataRead.
Thank you very much.

[2016-11-01 13:53] tomkuijsten commented on #20
I don't really understand your question @Compactis , could you elaborate a bit? Might be better to start a new issue as this one is closed.

[2016-11-01 13:55] tomkuijsten commented on #94
Didn't receive anything yet. We're using CORS internally here and have no problem at all. I'm gonna close this issue, if you send me some reproduction scenario we can reopen it.

[2016-11-01 13:55] #94 closed

[2016-11-01 19:14] aaart opened #95 "FromContent attribute does not work for GET request"
Get request does not have request body. However code samples suggest that it works. How about adding new attribute FromQueryStringAttribute to support complex data types for get requests?

Regards

[2016-11-03 23:18] texanobta opened #97 "OData support?"
Is there any way, or idea on how, to expose an OData data provider through a restup controller?

[2016-11-08 10:08] tomkuijsten commented on #95
That would be a nice feature. asp.net core does something similar. Interested in creating a PR?

[2016-11-09 07:24] MaklaCof commented on #62
Are there any plans to support WebSocket server?

[2016-11-09 07:27] ummarbhutta commented on #62
I think [IotWeb](https://github.com/sensaura-public/iotweb) is a good option if you want to use websockets on Windows IoT.

[2016-11-10 10:24] aaart commented on #95
yeap :)

[2016-11-10 11:26] #80 closed

[2016-11-10 12:38] Jark commented on #97
You could approximate (most of) the OData protocol by creating rest controllers and returning / accepting responses in the correct formats, but it would require a few manual changes / parsing of OData query language. You might also need https://github.com/tomkuijsten/restup/issues/87 before you can return / receive all the OData headers.

There are currently no plans to implement OData as a built-

[2016-11-15 09:12] tomkuijsten commented on #97
I agree, not something we want to support out-of-the-box. I'll close the issue. @texanobta if you have questions when implementing this feature yourself, feel free to create another issue.

[2016-11-15 09:12] #97 closed

[2016-12-01 23:01] ghost opened #99 "Restup.Webserver.Models.Schemas.GetResponse.ResponseStatus needs an error"
public enum ResponseStatus
        {
            OK = 200,
            NotFound = 404
            Error = 500
        }

(you could also fill out that graph with a whole host of others....

Love the code...  So far works really well.  I'll let you know if I come upon anything else.

[2016-12-02 06:49] tomkuijsten commented on #99
We could ofcourse extend that list with all possible HTTP status, but these are the only viable ones as a response to a GET request.

If you want an error response, you can just throw an exception and it will generate a 400 error.

Hope that helps you.

[2016-12-02 09:32] Jark commented on #99
I think it's easier to understand if you think of the IGetResponse, IPostResponse, IPutResponse, IDeleteResponse as the response to the intent of the request.

Imo we should expand the error codes slightly for the IPostResponse / IPutResponse (Unauthorized, for example) to represent more clearer error intentions, but for the GetResponse I think we've covered them.

@tomkuijsten as a side note it m

[2016-12-02 22:15] maximuss opened #100 "Can't get FromContent to work with payload"
I have tryed for some time now to get the [FromContent] to work with a POST and a Json payload, but everytime i get a 400 Bad Request. I hope there is a log file, but i just cant seem to locate it :(

What i have is this method:
[code]
With this call:
`http://pi_dev01:20000/api/gardenlight/activtime/save` as POST and `Content-Type: application/json`
and this json payload:
[code]
but the method is

[2016-12-03 07:14] tomkuijsten commented on #100
Just a quick response. You ask for a string in your method, but send an object with two properties. You should create an type with those two properties and use that one as method parameter type.

[2016-12-03 09:10] maximuss commented on #100
I have been working with integration and rest api's for the last year - i should have known it!
It's working now and i have used that method everyday the last year.... talking about feeling like a noob now ;)
Thank you for your quick response.

[2016-12-03 09:10] #100 closed, assigned to nobody

[2016-12-08 22:24] ghost opened #101 "Unit Tests on Local Machine"
I don't think this is an issue with Restup specifically (and I'm sorry if I'm breaking protocol here) but have you ever tried to run any of the the Restup unit tests on your local development machine ("Local Machine") rather than deploying them to an external source (Pi or emulator or whatever)?  There's some type of exclusion for UWP on Local Machine to be able to access localhost of every the lo

[2016-12-19 11:54] kreuzhofer commented on #82
I will try to implement BASIC Authentication flow as a first step

[2016-12-20 09:17] kreuzhofer commented on #82
I think I will be done by the end of the week. @tomkuijsten  I guess you should also add a task to implement Cookie handling. This could be used to implement form based authentication.

[2016-12-20 12:33] tomkuijsten commented on #101
Those unit tests are actually performed during our build, no issues there.

[2016-12-20 14:16] Jaedson33 opened #102 "How can I use FromBody in UWP"
Can you give me a example?
And I want a exemple of a http request using the Restup.

[2016-12-21 14:41] tomkuijsten opened #105 "Why don't we use the WebListener?"
I'm just a bit confused, I thought I searched for this package a long time but there was nothing compatible with Windows IoT. But according to [this post](https://github.com/aspnet/Home/issues/1110), the[ Microsoft.Net.Http.Server ](https://www.nuget.org/packages/Microsoft.Net.Http.Server/) package should work on Win10IoT.

[2016-12-21 14:49] Jark commented on #105
I think that's running dnx / core applications directly on the raspberry pi (so not through uwp). Last time I looked the ARM version of .net core was still quite buggy. Once .net core does work on the windows 10 iot PI restup becomes obsolete since we'll have access to full asp .net :)

[2016-12-21 23:56] tomkuijsten commented on #105
You are correct, as always :) Just read that the ARM support of net core is planned for Q1 2017:

https://blogs.msdn.microsoft.com/dotnet/2016/07/15/net-core-roadmap/

[2016-12-22 14:16] #102 closed, assigned to nobody

[2016-12-23 07:37] stefaanv opened #106 "FromBody attribute changed, documentation needs update"
It seems the FromBody attribute has changed into "FromContent".
This change is not yet reflected in the documentation.

[2016-12-23 11:17] stefaanv opened #107 "Controller without default constructor possible ?"
It seems that the controller must have a parameterless constructor in order for the framework to respond to calls.  Is it possible to have a controller with parameters in the constructor ?
PS how are the two overloads of `RegisterController` used ?  Can't find any example in the samples.

Here is my code:

[code]
[code]

[2016-12-23 11:35] stefaanv commented on #25
How can I inject dependencies into the constructor ?
When I add the parameters to the RegisterController() function, the framework doesn't respond to calls anymore.

[2016-12-23 12:09] stefaanv commented on #107
OK, found the problem.
Documentation might be more clear on this.
Also, throwing an exception when parameter types don't match would be helpfull.

[2016-12-23 12:09] #107 closed, assigned to nobody

[2017-01-02 06:15] dapug commented on #101
I'm also not seeing how to run this from local dev machine (works ok on Pi of course).  For example: using the HeadedDemo, set platform to x86 and launch locally.  In the browser, go http://192.168.<x>.<x>:8800/api/simpleparameter/2/property/propname  and I get nothing.  (ip of local machine)

So then I tried fiddler and enabled loopback for UWP, but not only does that not work, but simply running

[2017-01-03 09:59] Jark commented on #101
@jamoeder it's possible to run the unit tests locally. You have to make sure the unit tests are built after you switch the architecture of the project to x86 (or x64) by right-clicking the "Solution->Configuration Manager". I rarely work on restup using the Raspberry PI and always run the unit tests locally first.

@dapug yeah it is pretty annoying, if you really need it you could maybe try lettin

[2017-01-05 09:25] kreuzhofer commented on #82
@tomkuijsten can you please assign this to me?

[2017-01-05 09:29] Jark commented on #82
@kreuzhofer I can't seem to assign you to this issue... I can only add me, tom and the original poster for some reason. Maybe @tomkuijsten has more rights.

[2017-01-05 09:31] Jark commented on #82
#108 should resolve this issue

[2017-01-07 22:00] Jaedson33 opened #109 "Why that server don't work in cell phones?"
I can't make that work in my Lumia, why?

[2017-01-10 11:18] Jark commented on #109
Hi @Jaedson33,

Can you be a bit more specific? What have you tried specifically?

Have you tried running the demo or your own application?

[2017-01-10 11:35] Jaedson33 commented on #109
Sorry, but I solved that yesterday.
I was trying to connect to my phone's server using its host name, but it wasn't working. Now, its working because I'm using the phone's IP.

[2017-01-11 09:59] #109 closed, assigned to nobody

[2017-01-12 15:03] Jaedson33 opened #110 "Does it run in Background?"
How can I put the server to run in background?

[2017-01-12 15:35] Jark commented on #110
The answer to this question is highly dependent on what device you are running the server on.

For Windows 10 IOT on the Raspberry PI you can utilise a background task.

For regular Windows 10 I think the window needs to stay active for it to keep on running, if the screen is locked the app is put it into sleep mode (see: https://github.com/tomkuijsten/restup/issues/55).

Hope this helps.

[2017-01-12 16:51] Jaedson33 commented on #110
Well, I'm developing for Windows Mobile. So, can I run the server in background?

[2017-01-12 17:04] Jark commented on #110
Last time I looked at doing that (about a year ago) that wasn't possible, since you're only allowed to run very limited tasks in the background that are triggered by something. Also you wouldn't want to run much in the background on a phone anyway since the battery would drain pretty fast with that + other apps running at the same time.

But if you do find a way to do it, please let us know and we

[2017-01-14 20:10] Jark commented on #106
Thank for reporting this @stefaanv.

Have just modified the wiki (https://github.com/tomkuijsten/restup/wiki/RestRouteHandler-details/373dee5d4de5b9c13ed1269b4c99677073725771).

[2017-01-14 20:10] #106 closed, assigned to nobody

[2017-01-14 20:38] Jark commented on #101
closing this since there is no reply. If you still have problems with restup, feel free to open a new issue.

[2017-01-14 20:38] #101 closed, assigned to nobody

[2017-01-14 20:39] Jark commented on #85
This is now implemented in #98.

[2017-01-14 20:39] #85 closed

[2017-01-15 02:23] NameOfTheDragon opened #111 "Web server hangs when content is returned in Windows IoT build 10.0.14393.693"
I've been trying to put `Restup` to use on my Raspberry Pi 3 and I'm having reliability issues whenever I try to return any content e.g. for a Get request.

As long as I only return a status code, then the server seems to work and at least doesn't hang, but even then Postman says that it didn't receive any response (although it sees that the connection was closed).

However, if I try to return any

[2017-01-15 17:24] Jark commented on #111
Hi @NameOfTheDragon ,

Since you're using a back ground task, have you made sure to us a BackgroundTaskDeferral to make sure the task stays alive and doesn't get garbage collected?

Also you need to make sure to store a reference to the created HttpServer in the task.

See https://github.com/tomkuijsten/restup/blob/master/src/HeadlessDemo/StartupTask.cs for more information.

I have also just test

[2017-01-15 21:51] NameOfTheDragon commented on #111
Thanks for the reply.

Yes I'm creating a task deferral, but it looks like I'm not keeping a reference to the HttpServer object.
[code]

I will try holding a reference to be on the safe side and get back to you.
--Tim

[2017-01-15 22:12] Jark commented on #111
Please also hold a reference to the created taskDeferral, since the class I linked above (https://github.com/tomkuijsten/restup/blob/master/src/HeadlessDemo/StartupTask.cs) has an explicit comment saying that you need to keep a reference to the task deferral as well.

I believe @tomkuijsten might have put that in there.

[2017-01-15 22:22] NameOfTheDragon commented on #111
OK, yes that seems to have been the problem. The server is now stable and I'm getting responses. That seems like a bit of a rookie mistake in hindsight, but I think it may have dropped out of some flailing around trying to solve other problems I was having with the Visual Studio tooling. Sorry for the false alarm :)

[2017-01-16 11:45] tomkuijsten commented on #111
Good to hear that the issue has been resolved. Can we improve the wiki to prevent others to make this mistake, what do you think @NameOfTheDragon ?

[2017-01-16 11:51] tomkuijsten commented on #110
As far as I know, there is no way to **always** run a background task on mobile. You can set triggers from which background tasks are run (timer, OS events etc), but you will only have a limited amount of time while running the background task and it can be killed by the OS. There is enough [MSDN ](https://msdn.microsoft.com/en-us/windows/uwp/launch-resume/support-your-app-with-background-tasks) d

[2017-01-16 13:10] NameOfTheDragon commented on #111
That's a reasonable question, and I would say the answer is "yes".

- The "one pager" quick start example makes the exact mistake of not saving a reference to the HttpServer object, nudging the user into the pit of failure. In hindsight, this could well be how I got to my situation as I probably would have copied that code. So I would say, make the "one pager" work as a background task, because th

[2017-01-16 13:15] Jark commented on #111
The extra documentation is definitely a good idea, I'm thinking of also changing the default log factory in LogManager to something that logs to `Debug.WriteLine` so the disposing of the http server would be visible in the debug output and hopefully allow pinpointing of problems in a quicker way as well.

[2017-01-16 13:15] Jark commented on #110
Agreed, closing.

[2017-01-16 13:15] #110 closed, assigned to nobody

[2017-01-16 13:26] NameOfTheDragon commented on #111
@Jark That has to be worth a try too. In my situation I saw the debugger "freezing" for long periods of time (tens of seconds) prior the background task terminating, so I'm not sure if the output would make it to the debugger, but it has to be worth a shot. I think that defaulting to Debug.WriteLine is a good idea, where else would you send it?

[2017-01-16 13:32] Jark commented on #111
@NameOfTheDragon restup has a feature of plugging in your own Logging implementation that you would use in your application (like MetroLog for instance).  See https://github.com/tomkuijsten/restup/wiki/Logging.

The default Logger is a NullLogger, which just ignores any log statements that come in. The idea being that someone would not want any logging by default and if they did then they would us

[2017-01-16 14:33] tomkuijsten commented on #111
I agree

[2017-01-16 15:13] NameOfTheDragon commented on #111
I'm sorry I can't offer to help - I'm snowed under at the moment. Thanks for a really useful utility though.

[2017-02-14 08:04] bbSkygazer opened #113 "Trying to build One Pager Sample but get build errors"
Hi,

I am new to REST and amy trying to use the One pager sample to get started. When I try and Build in VS2015Community I get build errors. Can someone point me in the right direction.

Error : Type 'myRestController.ParameterController.DataReceived' is a nested type.

Error : Method 'myRestController.ParameterController.GetWithSimpleParameters(System.Int32, System.String)' has a parameter of typ

[2017-02-14 11:38] Jark commented on #113
Hey @bbSkygazer,

It looks like our "one pager" is not suitable for using it directly in a startup task / xaml project. Certain UWP project types have limitations about what kind of behaviour they support.

What you can do to make this work is to move the `DataReceived` class out of the `ParameterController` class and make the `GetWithSimpleParameters` return `IGetResponse`.

I've updated the one

[2017-02-21 20:00] EonRedApocalypse opened #114 "Bind to custom host header"
Hi,

I hope this isn't a stupid question, but is it possible to bind the web server to a custom host header? At the moment the solution is working really well but it would be awesome if I could bind to a different host other than default (the name of the pi). Am I missing something or is this not currently possible?

Thank you, and thanks for an awesome project.

Matthew

[2017-03-03 14:34] #114 closed, assigned to nobody

[2017-03-15 18:41] borrillis opened #115 "Implementing custom Logger/LogFactory results in build errors"
When i implemented the classes according to the wiki : https://github.com/tomkuijsten/restup/wiki/Logging in a UWP BackgroundTask project, I get build errors like :

`Error Type 'DebugLogFactory' implements interface 'Restup.WebServer.Logging.ILogFactory', which is not a Windows Runtime interface.  All interfaces that are implemented by exported types must be Windows Runtime interfaces.`

`Error M

[2017-03-16 14:49] ummarbhutta commented on #31
Is there any hope we can get SSL working now on Windows IoT? The [latest chrome](https://security.googleblog.com/2016/09/moving-towards-more-secure-web.html) is now marking pages as insecure with password fields.

[2017-03-17 03:50] Jaedson33 opened #116 "Add ASP support"
I can't make na aspx work in StaticFileHandler, but why?

[2017-03-17 10:25] Jark commented on #116
Hi @Jaedson33,

Can you tell us a bit more about what you are trying to accomplish? The static file handler will simply post the file back to the client with the mime type based off the extension.

If you want to return the .aspx files as html you can do that by instantiating the StaticFileHandler with a `MimeTypeProvider` with the .aspx file added to the available mime types.

In any case it's no

[2017-03-17 11:05] Jark commented on #115
Hi @borrillis,

Since a background task is a windows runtime component it doesn't support exporting some of the features that .net offers.

I think there's two options to solve the above issue:

1. make the DebugLogFactory internal or private so that it won't be included in the interface for the windows runtime component and thus won't be "an exported type"

2. create a separate regular DLL with t

[2017-03-17 11:05] Jark commented on #113
Closing this as there has been no response for a month.

[2017-03-17 11:53] borrillis commented on #115
Hi Jark,
I ended up solving it using option 2 since I needed the class library for EFCore.

Thanks.

[2017-03-17 11:53] #115 closed, assigned to nobody

[2017-03-21 06:36] tomkuijsten commented on #31
Fot restup there isn't much hope, but there are some signs for ASP.NET core on Win10IoT, check [this post](http://www.devvy.nl/?p=170)

[2017-03-27 16:36] alwendt4 opened #117 "Regarding issue #65 - REST service with images"
Quick follow-up question/issue on Restup …. Issue # 65 (https://github.com/tomkuijsten/restup/issues/65).

I agree 100% with steveegg.  And I’m trying to implement something with Restup along the lines of his comment:

GET /api/camera/{id}/snapshot - Current Live image
GET /api/camera/{id}/snapshot?time={datetime}&duraction={duration}

Can you please point me to an example of doing this?

I’ve bee

[2017-03-27 16:59] Jark commented on #117
Hi @alwendt4,

What is your intended use-case? Do you want to be able to embed it in a web page? Or do you want to use the get response in a different application? It looks like you wan to do the 2nd option.

Restup doesn't support sending non-primitive types to the client, you should've received a bad request on the client as a result of this because it's unable to serialise it.

You'll need to r

[2017-03-31 13:49] alwendt4 commented on #117
Hi Jark,

1)  "What is your intended use-case?"  Answer:  Again, I am in complete agreement with steveegg from issue #65.  For brevity's sake, I will neither argue with you on the validity of the use-case, nor repeat parts from your conversation with him.  We agree to disagree, and that's as far as I'm going to go.  Please don't engage me in this topic/argument as I promise not to respond to it.

[2017-03-31 13:58] #117 closed, assigned to nobody

[2017-03-31 13:58] Jark commented on #117
Hi @alwendt4,

Glad you were able to figure it out.

Jark

[2017-05-02 08:13] tomkuijsten commented on #105
Got ASP.NET core [working](http://www.devvy.nl/?p=170) on Win10IoT, will take some time before it's stable I guess.

[2017-05-10 13:48] ummarbhutta commented on #31
There are some paid libraries which provides SSL server socket on UWP. [See this](https://www.example-code.com/csharp_winrt/ssl_server.asp), I am not sure how it is implemented in there if `StreamSocketListener` doesn't support server side part of SSL, Probably they have implemented it on top of StreamSocket to provide SSL functionality as @Jark described

[2017-05-12 20:20] alwendt4 opened #118 "Can't call the MutableHttpServerRequest() constructor ..."
Having a really, really hard time returning responses in XML format.  Basically, I want to implement your headless demo, with a response in XML NOT JSON.

Spent hours and hours and hour looking at your stuff ... guessed myself into using the RestRouteHandlerTest.Happy.cs as a sample, but when I execute:

        private MutableHttpServerRequest _basicGETAcceptXML = new MutableHttpServerRequest()

[2017-05-15 15:43] alwendt4 commented on #118
I figured it out.  Simply send requests with the "Accept" header = "application/xml".  Please close issue.  Sorry for my lack of knowledge.

[2017-05-15 19:00] alwendt4 opened #119 "Serialize xml: XML declaration returns utf-16 versus utf-8"
I send a get request from my client with the Accept-Charset = UTF-8, but the xml declaration encoding attribute is set to UTF-16.

Here is what my response body xml looks like:

\<?xml version="1.0" encoding="utf-16" ?>
<picture xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"xmlns:xsd="http://www.w3.org/2001/XMLSchema"filename="test.jpg">...</picture>"

Here is the object that is being seria

[2017-05-15 19:27] Jark commented on #118
Hey @alwendt4,

Apologise for the late response, I'm glad you figured it out. I'll take a look at your other issue now.

Cheers,

Jark

[2017-05-15 20:00] Jark commented on #119
Hi @alwendt4,

It looks like the uwp version of the XmlSerializer doesn't have the option to pass in the encoding so it's not an easy fix.

I'll look at this in more detail tomorrow, hopefully I can put a fix in then as well.

Thanks for reporting this.

Cheers,

Jark

[2017-05-15 20:00] #118 closed, assigned to nobody

[2017-05-15 22:50] alwendt4 commented on #119
You are very welcome, Jark.  Thanks for all of your hard work and saving me the time in not having to write my own RESTful webserver myself.

Also, if there is any way I can control the ability to remove the namespaces on the root node, that would be cool ... but not critical (like the encoding attribute).  To be specific, I'm talking about the attributes:

xmlns:xsi="http://www.w3.org/2001/XMLSch

[2017-05-16 12:42] Jark commented on #119
Hi @alwendt4,

We're probably not going to add the functionality for specifying to removing namespaces, what might be useful at some point would be to able to specify the namespaces, but I don't think we'll commit to that right now. We're always open to code submissions though :)

I've added a pull request (#120) that should fix the issue.

When a NuGet package is available I can't promise you, @t

[2017-05-16 12:43] Jark commented on #116
Closing this issue since there have been no replies for nearly a month.

[2017-05-16 12:43] #116 closed, assigned to nobody

[2017-05-16 14:39] alwendt4 commented on #119
FYI:  I added the project directories:  HttpMessage, WebServer, WebServerLogging, and Webserver.Models to a new solution (Background Application (IoT)).  It compiled fine, but then when I added the DLLs {Restup.WebServer.dll, Restup.Webserver.Models.winmd}, and the using statements:

using Restup.Webserver.File;
using Restup.Webserver.Http;
using Restup.Webserver.Rest;

using Restup.Webserver.Attr

[2017-05-16 15:17] alwendt4 commented on #119
Additionally, I finally got the modules to compile and work with a simple headless application.  The breakpoints in my controller class were hitting, but I was getting "No response" returned from the client.  So do you have step-by-step instructions for building a deployable app using your source code?

[2017-05-16 15:28] Jark commented on #119
There's some information on the wiki, like the one-pager (https://github.com/tomkuijsten/restup/wiki/One-pager).

Usually when you don't get a response back this means you're not keeping an instance of the http server alive / not asking the background task to stay alive (what's called a deferral).

Try looking at the sample -> `https://github.com/tomkuijsten/restup/blob/master/src/HeadlessDemo/Sta

[2017-05-16 17:21] alwendt4 commented on #119
Jark ... I tried everything.  I can't get a response.  Can you get @tomkuijsten to do a push and create a package soon, please?

[2017-05-16 18:18] tomkuijsten commented on #119
I try to take a look at the PR later tonight, bear with me.

[2017-05-16 18:21] tomkuijsten commented on #99
Might be a good idea to add something as a ErrorResponse (instead of an exception) which can always be returned with a error code > 400. Let's create an issue for this to design the thing.

[2017-05-16 18:23] tomkuijsten opened #121 "Make it possible to return more error codes"
#99 ends in a idea to create some custom type for returning errors. This issue will be the place to discuss it's design.

[2017-05-16 18:33] alwendt4 commented on #119
@tomkuijsten.  You rock!  Thank you very much.

[2017-05-16 20:54] tomkuijsten commented on #119
Will get to it tomorrow, got a bit late at home today.

[2017-05-17 13:47] WattsC-90 commented on #25
@tomkuijsten  Have you got an example/sample on how you did this? Just so I know I am going down the right path with what I am doing to get DI into my app using the RestUp package.

[2017-05-17 13:58] Jark commented on #25
@WattsC-90 when you call RestRouteHandler.RegisterController you can pass in the objects. Those objects will then be used to construct the controller every time a call comes in.

[2017-05-17 14:12] WattsC-90 commented on #25
@Jark so less Dependency Injection style? More concrete, in one place? Would RestUp support a DI container? e.g.: Unity/TinyIoC?

[2017-05-17 14:57] Jark commented on #25
Yeah, it's more passing in the instances themselves into the RegisterController methods. So the DI resolving would have to happen when you are registering your controllers.

e.g.

[code]

There's also an overload of RegisterController that takes a Func<object[]> args that's deprecated, but I think properly implementing DI would be better.

So how about we add support to plug in a DI like asp .net

[2017-05-17 15:00] alwendt4 commented on #119
Come on @tomkuijsten!  You're slow like an old woman!

[2017-05-17 15:02] WattsC-90 commented on #25
@Jark  not a bad idea for the IDependencyResolver interface, perhaps be interesting to see how Ninject handles injection into the OWIN/ASP.Net controllers. I dont know enough about how it works (always treated it as blackbox), but might be a place to start. If not, implementing the IDependencyResolver interface seems reasonable! =]

[2017-05-17 15:17] WattsC-90 commented on #25
@Jark thinking about it.. IDependencyResolver definitely the way to go, Ninject is the implementation of that. So the RestUp code would have a `.RegisterDependencyResolver<Type>()` or `.RegisterResolver(resolver)` method, that would then be used internally to get the arguments for controllers that are called "on the fly"?

[2017-05-17 16:29] dm-CaT commented on #25
Regarding DI. I faced an issue - there is no possibility to declare controller's constructor with interface as a parameter, UWP denies that. That's why I declared constructor with a parameter of object type. And then cast it to interface. Here is an example
[code]
To inject this I used unity in startup task
[code]
It looks not so good. Can someone propose any solution to avoid using an object as p

[2017-05-17 17:34] alwendt4 commented on #119
@tomkuijsten, I was just kidding with my last comment.  I wanted to make you laugh.  Any progress, please?

[2017-05-17 17:56] tomkuijsten commented on #119
Take a look at the PR #120

[2017-05-17 17:58] tomkuijsten commented on #105
I'll close this issue, not on the roadmap now. Will open it again when usefull. @Jark  agree?

[2017-05-17 17:58] #105 closed, assigned to nobody

[2017-05-17 18:42] Jark commented on #105
@tomkuijsten agreed :)

[2017-05-17 18:49] alwendt4 commented on #119
@tomkuijsten thank you.  But when I go to the NuGet - Solution Package manager in visual Studio I don't see an updated version.  All I see is:  Latest stable 1.0.0 (installed), and some other versions: 1.0.0, 1.0.0-rc1, 1.0.0-beta4, 1.0.0-beta2, etc.
![image](https://cloud.githubusercontent.com/assets/23323541/26170582/f2d90c58-3b0f-11e7-919f-9080505f32da.png)

In PR #120 you were talking about "1

[2017-05-17 21:26] Jark commented on #25
@WattsC-90 yeah, something like that. Current design I'm thinking off:

1. the existing RegisterController will error as before if you haven't configured a custom IDependencyResolver, you have a parameterised constructor and you don't pass the correct parameters in.
2. if you have a custom IDependencyResolver configured, then that will be used to instantiate the RestController, any configured `Ins

[2017-05-18 07:05] dm-CaT commented on #25
@Jark this code works well without any errors. It just looks ugly.

[2017-05-18 07:46] tomkuijsten commented on #119
Yes, it's not published yet. You could download the package from the [build output](https://ci.appveyor.com/project/tomkuijsten/restup-frwxx/build/artifacts). The name of the package is not correct however, have to fix that, I hope tonight.

[2017-05-18 08:18] WattsC-90 commented on #25
@Jark seems like a good plan to me, @dm-CaT what code looks ugly?

[2017-05-18 08:25] dm-CaT commented on #25
@WattsC-90 constructor of controller with object-typed parameter which has to be cast to interface inside constructor body. I didn't find any other solution how can I inject parameters in controller.

[2017-05-18 10:01] WattsC-90 commented on #25
@dm-CaT Thanks for the clarification, wasnt sure which bit you meant! :)

[2017-05-18 13:13] alwendt4 commented on #119
Me again.  Hummm.  I tried to install the package found in "build output" by downloading and installing locally, and it failed.  Here is the error (btw:  I also installed the logging .nupkg first):

Restoring packages for 'BackgroundApplication1'.
Restoring packages for C:\Users\mx8yqv\Desktop\Test3\BackgroundApplication1\BackgroundApplication1\project.json...
  GET https://api.nuget.org/v3-flatco

[2017-05-18 14:58] tomkuijsten commented on #119
I'll take a look at it tonight

[2017-05-19 12:50] alwendt4 commented on #119
@tomkuijsten, any progress ??? ... I hate to sound pushy, and I really appreciate your work ... but I'm trying to get our prototype, which uses RESTUP, to the next phase and the UTF-16/UTF-8 thing is the only thing holding us up.

[2017-05-19 22:14] tomkuijsten commented on #119
@alwendt4 I understand your frustration :) I think this will help,[ latest build package ](https://ci.appveyor.com/api/buildjobs/hpwbu3n7m0ixt4io/artifacts/Restup.1.0.1-beta0.nupkg) should work (you don't need the logging package, is the same as on nuget).

[2017-05-20 23:04] alwendt4 commented on #119
@tomkuijsten, You did it!!!!!!!!!  UTF-8, just like I wanted!   Thank you very much, you're terrific!!!!!  I can't find your direct contact off of GitHub.  Please send it to me however you can, and I will send you updates as to how are project is going.  I recommend you do.  I have not disclosed who I work for.  Al

[2017-05-22 09:42] jonaswikstrom opened #124 "Restup together with GpioController hangs"
Hello

Trying to use restup together with logic using the GpioController. I have multiple GpIoPins opened listening on the ValueChanged event.  Everything works great until I do a request to the server making all events to stop working and after a while the application exists with code -1.

[2017-05-22 09:50] dm-CaT commented on #124
@jonaswikstrom, can you provide source code of your application?
Please check if you are not releasing  BackgroundTaskDeferral in case if application is headless.
Your StartupTask should looks like the next:
[code]

[2017-05-22 10:04] jonaswikstrom commented on #124
Sure!

This is my simple code which makes ValueChanged stop:

`public sealed class StartupTask : IBackgroundTask
    {
        private BackgroundTaskDeferral backgroundTaskDeferral = null;

        public async void Run(IBackgroundTaskInstance taskInstance)
        {
            backgroundTaskDeferral = taskInstance.GetDeferral();

            var restRouteHandler = new RestRouteHandler();

[2017-05-22 10:44] tomkuijsten commented on #119
@Jark did it, I only created the package, but good to hear it's working for you. We will discuss how we will publish this to nuget.

[2017-05-22 11:28] dm-CaT commented on #124
I've just make circuit which handles and writes to debugger window whenever button is pressed and released. The only one difference against your example is that I'd set DriverMode for pin. Please, add next statement after the PIN is open and check again.
[code]

[2017-05-22 11:37] Jark commented on #124
@jonaswikstrom you need to keep a reference to httpServer and pin by using a field instead of a variable in the Run method.

What happens is when the Run method exits, the deferral will stay alive, but at some point the garbage collector will come around and garbage collect any variables which don't have references any more.

So that's most likely why you see that it stops working.

[2017-05-22 14:51] jonaswikstrom commented on #124
Thnx guys!

@Jark putting the references as fields made it happen!!!

[2017-05-29 22:04] fjames commented on #113
I know this has been closed but I'm having the same issue.  I'm using the One-pager example you provided. Building shows the following errors.

StartupTask.DataReceived is a nested type.  Nested types cannot be exported to the Windows Runtime.
StartupTask.ParameterController is a nested type.  Nested types cannot be exported to the Windows Runtime.

Am I missing something?

Thanks

[code]

[2017-05-29 23:59] Jark commented on #113
Hi @fjames,

Please see my previous reply for the error.

Please have another look at https://github.com/tomkuijsten/restup/wiki/One-pager. Both the ParameterController and the DataReceived class will have to be placed outside the StartupTask class scope. You might also have to make them sealed to satisfy the uwp project requirements.

You will also need to turn the httpServer and _Deferral variab

[2017-05-30 00:58] fjames commented on #113
Thank you for getting back so quick.  The recommended changes worked with one exception. I had to make the following change to the Uri format.

~~[UriFormat("/simpleparameter/{id}/property/{propName}")]~~
**[UriFormat("/{id}/{propName}")]**

Response from server:  **{"ID":1,"PropName":"Test"}**
👍
Thanks again.

[2017-06-07 09:40] tomkuijsten commented on #124
Closed as it's resolved.

[2017-06-07 09:40] #124 closed, assigned to nobody

[2017-06-07 09:41] tomkuijsten commented on #119
@alwendt4 still working? :)

[2017-06-07 13:39] alwendt4 commented on #119
Still working great.  Really appreciate your help.  I couldn't have done it without you, and had you not moved so quick, I would have been in a real bind.  We have what we need now.  Thanks again.

The prototype is in position to be readied into a functional application prototype with all components assembled.  Your Restup component was used to send network commands and command responses between a

[2017-06-12 11:39] emulic opened #125 "Access from local machine over localhost or 127.0.0.1"
Hi,

is there any way to reach the rest service from another UWP or other app running on the same machine as the UWP app hosting the rest service? I'm always getting timeout either if I use IP address 127.0.0.1, localhost, IP address of my machine or host name. If I try to call the rest service from another machine everything works fine.

[2017-06-12 11:54] Jark commented on #125
Hi @emulic,

When I looked at this last this does not seem to be possible, please refer to point 1 of the FAQ (https://github.com/tomkuijsten/restup/wiki/FAQ).

[2017-06-12 11:56] emulic commented on #125
thanks!

[2017-06-12 11:56] #125 closed, assigned to nobody

[2017-06-18 12:56] DennisSc commented on #125
On w10 IoT core, you can enable inbound loopback exemptions with a registry key:

see https://social.msdn.microsoft.com/Forums/en-US/bd84318f-25d3-425c-a631-de9090aaa60e/loopback-access-failing-14393?forum=WindowsIoT#41ace723-9bad-4e04-90b1-077a1665f2dc

[2017-06-30 19:55] ta-vroom opened #126 "Would this work as a replacement for HTTPListener?"
I had a server which listened for JSON, but I had to start over when I moved to UWP. Any chance this could fill that role?

[2017-06-30 23:13] tomkuijsten commented on #126
Depends a bit on what you want to achieve.

[2017-07-01 21:38] ta-vroom commented on #126
Literally just receive JSON data from a webapp/program. Just a bit confused on REST vs Sockets and which would be most appropriate.

[2017-07-01 22:56] tomkuijsten commented on #126
That's really easy to achive, take a look at the sample code or the wiki on how to achieve this.

[2017-07-02 22:50] ta-vroom commented on #126
alright, thanks for the help.

[2017-07-04 04:31] ta-vroom commented on #113
Having a little trouble getting DataReceived. What's the proper way to call it and print the data in debug? Sorry, still learning.

Also, posting here instead of the issue I opened because I thought others trying to work out of OnePager might need the help.

[2017-07-04 14:08] tomkuijsten commented on #113
Could you explain what you are trying to achieve? The `DataReceived` in the sample is used to send a response object to the caller. This will be serialized and received as json (or xml) by the client.

[2017-07-04 15:52] ta-vroom commented on #113
Mainly trying to understand how everything works and feeling a little stupid.

By caller you mean the client or browser right? So the client (browser) gets a response (DataReceived) from the server?

For some reason I was assuming GET meant in the opposite direction, but I am still trying to wrap my head around everything.

Update:
So if I wanted to get data from the server, what should my curl co

[2017-07-11 23:41] ta-vroom commented on #126
Is it possible to somehow get the data, without dealing with the uri? If restup won't work, I can write my own socket server. Just having trouble isolating the data from the header.

[2017-07-14 07:49] Jark commented on #126
Hi,

Restup is meant as a REST server, however if you want to just use the socket to http request functionality you could implement a custom `IRouteHandler` (https://github.com/tomkuijsten/restup/blob/master/src/WebServer/Models/Contracts/IRouteHandler.cs) and use that in httpServer.RegisterRouteHandler.

Cheers,

Jark

[2017-07-21 23:31] ta-vroom commented on #126
Thanks for the help.

[2017-07-21 23:31] #126 closed, assigned to nobody

[2017-08-03 10:48] dm-CaT opened #127 "Wiki update request"
Hello.

At last I found how to configure local environment to run app with Restup server locally without any device. I think it will be useful to put this information into Wiki. I'm not familiar with GitHub Wiki maybe someone can help with it or just copy-paste the following guide?

There are two steps to configure an environment.
1. [https://developer.microsoft.com/en-us/windows/iot/docs/embedded

[2017-09-10 21:29] arvin-a opened #129 "GetReponse return binary file"
Is there any way to make GetResponse to return a binary file? I tried the following but it didn't work.
[code]

[2017-09-12 13:43] tomkuijsten commented on #129
Not by default, no. You could implement your own [handler](https://github.com/tomkuijsten/restup/wiki/Custom-route-handler).

[2017-09-12 13:46] tomkuijsten commented on #127
Kudos for finding this solution 👍 . It would be great if we could add this to our FAQ  or a separate page. Any suggestion on where to put it? And could you format the text a bit to be used as Wiki info?

[2017-09-12 13:47] #113 closed, assigned to Jark

[2017-09-12 13:48] tomkuijsten commented on #62
Not planned

[2017-09-12 13:48] #62 closed

[2017-09-12 13:48] tomkuijsten commented on #87
Not planned

[2017-09-12 13:48] #87 closed

[2017-09-12 16:50] dm-CaT commented on #127
OK, I'll try.

[2017-09-13 02:44] arvin-a commented on #129
I want to implement a rest route that will receive a request like /api/fileid/112 and return a binary file to the user to download. Would that still be done by implementing IRouteHandler?

[2017-09-13 13:06] tomkuijsten commented on #129
Jup. The default handlers uses json or xml (based on the http request headers) as return type, doesn't support binary.

[2017-10-07 19:41] thijscrombeen opened #130 "Passing implementation instead of interface as constructor argument"
I have a controller which takes a few interfaces as constructor arguments.
When I register this controller I pass in implementations as arguments.

This is however not allowed due to code in the ReflectionHelper class.
Would you accept a pull request where it also checks the IsAssignableFrom?

[2017-10-17 16:46] thijscrombeen commented on #130
Is my question perhaps not clear enough?
Or is Restup no longer actively maintained?

Thanks

[2017-10-17 18:08] dm-CaT commented on #130
Are you sure it is possible? As I know there is a limitation of UWP which doesn't allow to declare public classes (eg. controllers) with interface as a type of constructor parameter.

[2017-10-17 19:24] Jark commented on #130
Hi @thijscrombeen,

Sorry for the late reply!

I don't actively work on restup any more, but I do try and maintain it and fix critical bugs. The reason for this is that it's looking like asp .net core is being supported officially pretty soon (see http://www.devvy.nl/?p=193 to get it to work now).

However I'm happy to accept a pull request that uses `IsAssignableFrom`, as long as it contains a un

[2017-10-17 20:48] thijscrombeen commented on #130
I have created a pull request #131

Thanks for replying

Edit: It seems unable to build on appveyor. is there anything i can do about that?

[2017-10-18 08:08] Jark commented on #130
Hi @thijscrombeen,

Thanks for your contribution! Just had a quick look and looks good from a glance, will run it up in my lunch break and give it a closer look.

As for the appveyor build, it doesn't look like your change would've broken that so I think it's something to do with uwp support in appveyor, it's been a while since we last ran it, so it's possible tom might have to make a few changes.

[2017-10-19 18:51] Jark commented on #130
Hi @thijscrombeen,

Just had a look and ran the tests, all looks good. Thanks for your contribution!

Cheers,

Jark

Closed #131

[2017-10-19 18:51] #130 closed, assigned to nobody

[2017-11-03 03:15] jaedson-barbosa opened #132 "Optimize the Restup"
Hi, I see you like to support the first version of UWP. But I think you should focus on the latest versions of Windows. In my opinion, the minimum version should be the Anniversary Update. What do you think? Can I change the minimum version and optimize the code?

I just need to know that to start the work. After all, I want the PR to be approved.

[2017-11-04 10:18] Jark commented on #132
Hi @JaedsonBarbosa,

Can you tell me what the improvements would be? Are there performance improvements or code clarity improvements?

If possible I'd like to keep as low a version as possible for restup, to ensure a lot of people are able to use it, unless there is a compelling reason I would advocate against updating it.

You should be able to add restup to an application which is running the la

[2017-12-30 15:57] Bjego commented on #129
Could you provide a sample how to write and use such a Routehandler?

[2017-12-30 16:19] Bjego opened #133 "Please provide an example how to write a custom Routehandler to return e.g. a csv file"
Hey guys,
could you please provide a sample how to write and use such a Routehandler   (#129 )?
I try to return a csv file, but in the outcome \n\r are encoded as a string and no more as a new line.

[code]

[2018-01-01 20:39] Jark commented on #133
Hey @Bjego,

That is correct, you're using the RestRouteHandler and it always expects you to return the result of a REST action as an object, and that object will then either be encoded as json or xml, depending on what the client requests.

If you're looking to return csv files from the file system you could try using the static file handler (https://github.com/tomkuijsten/restup/wiki/StaticFiles

[2018-01-28 16:59] Bjego commented on #133
Hey, thanks for the link it was very helpful.
I implemented it within 15 minutes. Now I can download my csv file by get from http://ipaddress:8888/csv .
Thanks a lot & here is the code for the handler:
Handler

[code]

Registration:

[code]

[2018-01-28 16:59] #133 closed, assigned to nobody

[2018-03-09 12:57] robp2175 opened #134 "Return a screenshot using GET or other"
I am using the RPis as Digital Signage with windows iot core. The foreground app is just a browser that brings up our digital signage page. I would like to see if there is a way in which I could do an api request that returns a screenshot of the Pi so that I can make adjustments to the signage to devices across campus. I came across your project and thought there might be a way to add this functio

[2018-03-10 12:10] ThomasVilliger opened #135 "Webserver"
Hi there

Your Webserver works great on Raspberry Pi with Windows 10 IoT but not on my development PC where I have Windows 10. Am I doing something wrong or is this the way it is?

Thanks!

[2018-03-10 17:32] dm-CaT commented on #135
@ThomasVilliger, you can follow the steps from [this](https://github.com/tomkuijsten/restup/issues/127) request to start Restup Server locally.

[2018-03-12 11:30] robp2175 opened #136 "StaticFileRouteHandler for local directory or image file"
What I would like to do is basically be able to go to http://ipaddress:8800/docs and access a local directory serving html files. c:\httpdocs for example.

I have been looking at StaticFileRouteHandler.cs trying to figure out how I might be able to accomplish this.

I tried something as simple as
`.RegisterRoute(new StaticFileRouteHandler(@"c:\\httpdocs"))`

, but that did not work. My c# abilitie

[2018-03-12 11:31] robp2175 commented on #134
In doing some further research, I am not sure there is going to be anyway to do this due to the limitations of iot core. Closing this.

[2018-03-12 11:31] #134 closed, assigned to nobody

[2018-05-26 17:32] faruk-redzic-sn commented on #82
can you please write example how to add header key/value in using javscript

[2018-05-26 17:37] faruk-redzic-sn opened #137 "Difference POSTMAN and Javascript sending header"
Hello,
When I add header using Postman everything goes fine, but when I'm using javascript(fetch) I don't get added header on server side after request is handled. What am I missing?

[2018-05-26 21:06] Jark commented on #136
Hi @robp2175,

There might be a problem with the rights to read a folder from a windows universal app. Check that the user you're running under has full read access to `c:\httpdocs`.

I would suggest starting with the HeadedDemo or HeadlessDemo, see that example work, and then try to modify it to use a different folder.

To host `C:\httpdocs` on `\docs` you would change it to the following:

[code

[2018-05-26 21:06] #135 closed, assigned to nobody

[2018-05-26 21:11] Jark commented on #132
Closing due to no reply

[2018-05-26 21:11] #132 closed, assigned to nobody

[2018-05-26 21:16] Jark commented on #137
Hi faruk,

This doesn't sound like a problem in restup to me.

Can you provide me with a test case where restup doesn't do something that it should?

Jark

[2018-05-26 23:28] f4rukr commented on #137
Hello Jark,
Thank you for your response.
This is my code which I've written in Vue.js using fetch.
		requestMethod(url) {
			fetch(url, {
				method: 'post',
				headers: new Headers({
					'Authorization': this.token
				})
			});
		}
I don't get my added headers on server side after request is parsed from stream. Only the default once which are defined on restup. Am I missing something?
Regards

[2018-05-28 09:51] Jark commented on #137
Hi Faruk,

Where is the JavaScript hosted?

If the domain of where restup is running is different to the domain that you are sending in the request from (like localhost or some external site), you'll need to take cors into account.

From reading this: https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch, it seems you will need to set `mode: cors` if you're doing any cross site sc

[2018-06-27 07:55] tomkuijsten commented on #82
There are plenty of samples on the internet which will explain how to do that.

[2018-08-16 18:58] dapug commented on #127
This solution didn't solve it for me. I followed it carefully.  Is there something else needed in current builds of Windows?

[2018-08-16 19:05] dm-CaT commented on #127
I didn't try to repeat it for a long time. Maybe something changed.
Which Windows version do you have?
Did you face some errors or something like that on some step of the guide?

[2018-08-16 19:16] dapug commented on #127
Im on Win10 build 17134.165. No error, I just simply can't make a request (for example, from browser to my UWP app listening on 8800).  I get a 400.

Worked ok on an older Win10 machine, so I know RestUp and my little test app is ok (been using it a while, its great).

[2018-08-22 20:45] dapug commented on #127
Resolved. I had two apps with different port settings I was working with and the failure was simply due to the request going nowhere.

New problem: There is a huge 20 second delay for Restup to respond to any request, even a simple hello-world GET request.  I may need to open a new issue.

[2018-11-01 08:02] agrath commented on #127
//https://stackoverflow.com/a/33263253/647728

For a line of business app use the checknetisolation.exe tool to grant the app a loopback exception.

To enable loopback use this command:

c:\>checknetisolation loopbackexempt -a -n=<package family name>
To disable loopback use this command:

c:\>checknetisolation loopbackexempt -d -n=<package family name>
The package family name for a UWP app can be

[2018-11-01 08:24] agrath commented on #127
I would like to add to this - even with the loopbackexempt as per my above comment, I still could not get the StreamSocketListener to accept incoming connections from my local machine into the UWP app running locally.
I tried with postman and chrome, both the -is and -a methods of adding the loopback exemption (with the correct program)
I also made sure my wifi on my laptop was set to a private ne

[2019-02-12 19:38] versacall opened #138 "Directory traversal vulnerability"
We have an application running on a  Win 10 IoT Core raspberry pi using restup.  But it was flagged with a vulnerability from a scan from IT.

Basically if you send something like this from Postman.  It returns the contents of the C:\windows\win.ini file.

GET:
192.168.100.37:80/../../../../../../../../../../windows/win.ini

Is there any way to prevent it from going beyond the root of the applicat

[2019-02-13 09:36] Jark commented on #138
Hi Versacall,

That's definitely a bug, it should not allow you to get files below the basePath.

What you could do to get around this is either copying the StaticFileRouteHandler class or creating a wrapper around StaticFileRouteHandler that throws an exception when a . or .. is specified in the request uri.

The proper fix should:
- resolve the `filePath` to a full absolute path (so without . an

[2019-02-13 18:26] young-versacall commented on #138
Yeah, I reviewed the StaticFileRouteHandler class and see what you mean.  I'll clone the repo and try out the fix.  If it works I'll try and push up the changes if you want. (From this account, I have 2 GitHub accounts which is confusing)

[2019-02-13 22:01] young-versacall commented on #138
I fixed the issue and made pull request [#139](https://github.com/tomkuijsten/restup/pull/139).

[2019-05-01 21:37] skipfire opened #140 "Use JsonConverters on FromContent and responses"
It would be great to be able to supply JsonConverters for use when serializing the response or deserializing the FromContent.

[2019-12-13 20:31] sibarsoumi commented on #125
So, is debugging on the same device not possible in any way? Does one always need a second device for debugging!?

[2020-01-13 00:32] sibarsoumi opened #141 "Using SocketActivityTrigger to make it work in the background"
Should it not be possible to make it run in the background to receive requests and respond correspondingly even after the app is closed?

As described [here](https://docs.microsoft.com/en-us/windows/uwp/networking/network-communications-in-the-background), a background task with SocketActivityTrigger has to be created and the socket ownership of StreamSocketListener has to be transferred to the so

[2020-01-13 17:37] sibarsoumi opened #142 "Dealing with multipart bodies?"
Is there some way (easier than navigating through the bytes array of Content) to deal with http requests and responses with multipart bodies?

[2020-07-30 16:01] ChuckBell opened #143 "How do you run/test the onepager?"
How does one test the onepager example? Can you use curl and if so, what is the format of the URL? What about a web browser on another host? Please consider adding this to the Wiki to help us get started. I've tried all manner of combinations of URLs that I can think of but none of them work. Some, it appears do connect but result in a 400 result. Thanks.